{% extends "base.html" %}
{% load short_codes %}

{% block full_title %}{{ flatpage.title }}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div id="flatpage">
  <h3 class="block_title">Houston's Hackerspace - 205 Roberts St. Houston, TX 77003</h3>
  <div class="well">
    <p>TX/RX is a non-profit Hackerspace in Houston, Texas offering classes, lab space, and our collective knowledge to help you launch your ideas and projects. We are a project based group of makers, inventors, tinkerers, artists, crafters, and coders. We are housed in a 30,000 square foot facility which includes a rapid fabrication lab, electronics lab, metal fabrication shop, wood workshop, machine shop, bike maintenance and repair shop, art lab, computer lab and coworking space.</p>
  </div>
  <h3 class="block_title">Our Goals</h3>
  <div class="well">
    <p>Our goals are to bring creative people together, to serve as an incubator for imaginative solutions for everyday problems, to make opaque scientific and technical concepts accessible to everyone through education, and to provide much-needed services to our community, made possible by the skills and passion of our membership.</p>
  </div>
  <h3 class="block_title">How to Participate</h3>
  <div class="well">
    <p>Classes at TX/RX and most of our meetups and events are open to general public. Visit us on Open House Fridays at 7 pm to visit with our members, take a tour of our facilities, and enjoy a home cooked dinner.</p>
  </div> 
  <h3 class="block_title">How to Help</h3>
  <div class="well">
    <ul>
      <li>Become a member.  Our greatest resource is the diversity and creativity of our members, and we are always open to new perspectives and disciplines.</li>
      <li>Volunteer!  We need people to help spread the word about what we are trying to do.  Email us at volunteer@txrxlabs.org</li>
      <li>Make a cash donation.</li>
      <li>Donate tools, computers, electronics.  Have a tool you don’t use that often?  We can use it!</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block side %}
{% include "sides/_press_items.html" %}
{% endblock %}
