{% extends 'base.html' %}

{% block content %}
<div id="search-results">
  <div class="top">
    <h2>Search</h2>
    <form method="get" action=".">
      <input type="text" name="q" data-default-text="Keyword" id="id_q" value="{{ request.GET.q }}">
      <input type="image" src="{{ STATIC_URL }}images/go.png" value="Search">
    </form>
  </div>

  {% if query %}
  <div id="tabs">{% for tab in search_tabs %}
    <a class="search-tab {{ tab.0 }}{% if forloop.first %} active{% endif %}"
       onclick="showTab('{{ tab.0 }}',this); return false;" href="javascript:;">
      {{ tab.1 }}
    </a>{% endfor %}
  </div>
  {% for result in page.object_list %}
  <div class="{{ result.model_name }} result">
    <div class="header">
      <a href="{{ result.object.get_absolute_url }}">
	{% if result.object.title %}
	{{ result.object.title|linebreaksbr }}{% else %}
	{{ result.object.name }}
	{% endif %}
      </a>
      <span class="type">{{ result.model_name|title }}</span>
    </div>
    <div class="date">
      {{ result.object.start|date:"m-d-y" }}
      {{ result.object.publish_date|date:"m-d-y" }}
      {{ result.object.date_created|date:"m-d-y" }}
    </div>
    <div class="description">
      {{ result.object.description|striptags|truncatewords:60 }}
      {{ result.object.text|striptags|truncatewords:60 }}
    </div>
  </div>
  {% empty %}
  <p>No results found.</p>
  {% endfor %}

  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
</div>
<script type="text/javascript">
$("label,span.type").each(function(){
  $(this).html($(this).html().replace("Article","News Article"));
  $(this).html($(this).html().replace("Entr","Journal Entr"));
});
var tab_names = [{% for t in search_tabs %}"{{ t.0 }}",{% endfor %}""];
for (var i=0; i<tab_names.length; i++) {
  var name = tab_names[i];
  if (!name) { continue }
  $("#tabs ."+name).text($("#tabs ."+name).text()+"("+$(".result."+name).length+")");
}
$("#tabs").children().first().text("ALL ("+$(".result").length+")");
function showTab(s,that) {
  $("#tabs").children().removeClass("active");
  $(that).addClass("active");
  if (!s) { $(".result").show(); return; }
  $(".result").hide().filter("."+s).show();
}
</script>
{% endblock %}
