{% extends "base.html" %}

{% block header_content %}Become a Member of TX/RX Labs{% endblock %}
{% block full_title %}Become a Member of TX/RX Labs{% endblock %}

{% block main %}
<script type="text/javascript">

membership_form_parameters = {}; //this is established at the bottom of every form

function setHiddenFields(that) {
  var form = $(that).closest('form');
  var params = membership_form_parameters[$(that).val()];
  form.find("[name=a3]").val(params['cost']+".00");
  form.find("[name=p3]").val(params['months']);
}

//when pages loaded, update all selects
</script>
{{ flatpage.content|safe }}
<div class="clear"></div>
<br />
<div id="memberships" class="row">
  {% for group in groups %}
  <div class="{% if forloop.first %}col-lg-offset-2 {% endif %}col-lg-4 col-sm-6">
    {% if groups|length != 1 %}<h2>{{ group }} Memberships:</h2>{% endif %}
    {% for m in group.active_memberships %}
    <span class="well membership">
      <h2>
        {{ m.name }}
        <small>${{ m.monthly_rate.cost }}{% if forloop.last %}+{% endif %}/month</small>
      </h2>
      {% if m.notes %}<br />
      {{ m.notes|safe }}{% endif %}
      <ul class="membership_features">
        {% for f in m.features %}
        <li>
          <i class="icon-ok"></i>
          {{ f.text }}
        </li>
        {% endfor %}
      </ul>
      <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick-subscriptions">
        <input type="hidden" name="business" value="txrxlabs@gmail.com">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="on0" value="{{ m.name }}">
        <input type="hidden" name="a3" value="">
        <input type="hidden" name="p3" value="">
        <input type="hidden" name="t3" value="M">
        <input type="hidden" name="src" value="1">
        <input type="hidden" name="sra" value="1">
        <select name="os0" onchange="setHiddenFields(this);" {% if "Table Hacker" in m.name %}
                disabled="disabled"{% endif %}>
          {% for rate in m.rates %}
          <option value="{{ m.name }} - {{ rate.description }}">{{ rate.description }}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="RETURNURL" value="{{ settings.SITE_URL }}/joined/{{ user.id }}/">
        <div class="button_box">
          <input type="image" name="submit" alt="PayPal - The safer, easier way to pay online!"
                 {% if "Table Hacker" in m.name %} disabled="disabled"{% endif %} src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif">
          <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0">
        </div>
      </form>
    </span>

    <script type="text/javascript">
      {% for rate in m.rates %}
      membership_form_parameters['{{ m.name }} - {{ rate.description }}'] = {
      'cost': {{ rate.cost }},
      'months': {{ rate.months }}, // "wait this many months between billings"
      }
      {% endfor %}
    </script>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function() {$("select").change()});
</script>
<div class="clear"></div>
{% endblock %}
