{% extends "base.html" %}

{% block header_content %}Become a Member of TXRX Labs{% endblock %}
{% block full_title %}Become a Member of TXRX Labs{% endblock %}

{% block main %}
<script type="text/javascript">

membership_form_parameters = {}; //this is established at the bottom of every form

function setHiddenFields(that) {
  var form = $(that).closest('form');
  var params = membership_form_parameters[$(that).val()];
  form.find("[name=a3]").val(params['cost']+".00");
  form.find("[name=p3]").val(params['months']);
}

//when pages loaded, update all selects
</script>
{{ flatpage.content|safe }}
<div class="clear"></div>
<br />
<div id="memberships" class="row">
  {% for group in groups %}
  <div class="col-lg-4 col-sm-6">
    {% if groups|length != 1 %}<h2>{{ group }} Membership</h2>{% endif %}
    {% for m in group.active_levels %}
    <span class="well membership">
      <h2>
        {{ m.name }}
        <small>
          ${{ m.monthly_product.unit_price|floatformat:0 }}{% if "Table Hacker" in m.name %}+{% endif %}/month
        </small>
      </h2>
      {% if m.notes %}<br />
      {{ m.notes|safe }}{% endif %}
      <ul class="membership_features">
        {% for feature in m.get_features %}
        <li><i class="fa fa-check"></i> {{ feature.text }}</li>
        {% endfor %}
      </ul>
      <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick-subscriptions">
        <input type="hidden" name="business" value="{{ settings.PAYPAL_RECEIVER_EMAIL }}">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="on0" value="{{ m.name }}">
        <input type="hidden" name="a3" value="">
        <input type="hidden" name="p3" value="">
        <input type="hidden" name="t3" value="M">
        <input type="hidden" name="src" value="1">
        <input type="hidden" name="sra" value="1">
        <input name="notify_url" type="hidden" value="{{ SITE_URL }}/tx/rx/ipn/handler/">
        <input name="cancel_return" type="hidden" value="{{ SITE_URL }}/shop/">
        <input name="return" type="hidden" value="{{ SITE_URL }}/shop/">
        {% if request.user.is_authenticated %}
        <input type="hidden" name="custom" value="{{ request.user.pk }}"/>
        {% endif %}
        <select name="os0" onchange="setHiddenFields(this);">
          {% for product in m.products %}
          <option value="{{ m.name }} - {{ product.name }}">
            ${{ product.unit_price|floatformat:0 }} {{ product.name }}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="RETURNURL" value="{{ settings.SITE_URL }}/joined/{{ user.id }}/">
        <div class="button_box">
          <input type="image" name="submit" alt="PayPal - The safer, easier way to pay online!"
                 id="m_{{ m|slugify }}" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif">
          <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0">
        </div>
      </form>
    </span>

    <script type="text/javascript">
      {% for product in m.products %}
      membership_form_parameters['{{ m.name }} - {{ product.name }}'] = {
      'cost': {{ product.unit_price }},
      'months': {{ product.months }}, // "wait this many months between billings"
      }
      {% endfor %}
    </script>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function() {$("select").change()});
$(function() {
  var HACKERKEYS = [];
  var code = [38,38,40,40,37,39,37,39,66,65];
  if (window.location.search.indexOf("open") != -1) { return }
  var unlocked = false;
  $("#m_table-hacker").addClass("grayscale-me").click(function() {
    if (unlocked) {
      return true
    } else {
      alert("Availabilty for this membership is limited. \nPlease email membership@txrxlabs.org for more information.");
      return false;
    }
  });;
  $(document).keyup(function(e) {
    HACKERKEYS.push(e.keyCode);
    var entries = HACKERKEYS.slice(-code.length);
    for (var i = 0; i < code.length; ++i) { if (code[i] !== entries[i]) return false; }
    $("#m_table-hacker").removeClass("grayscale-me");
    alert("Table-Hacker Membership Unlocked!");
    unlocked = true;
  });
});
</script>
<div class="clear"></div>
{% endblock %}
