{% extends "base.html" %}
{% load short_codes txrx_tags %}

{% block title %}{{ minutes.date|date:"Y/m/d" }} Meeting Minutes{% endblock %}
{% block header_content %}Meeting Minutes for {{ minutes.date }}{% endblock %}

{% block content %}
<div class="well">{{ minutes.content|explosivo }}</div>
{% for proposal in minutes.proposal_set.all %}
<div class="well">
  <h3>Proposal #{{ proposal.order }}: {{ proposal.title }}</h3>
  {{ proposal.final_text }}
</div>
{% endfor %}
{% endblock %}

{% block side %}
<h2>Members in Attendance</h2>
<div class="well">
  <p><b>Total:</b>{{ minutes.get_member_count }}</p>
  <ul>
    {% for member in minutes.members_present.all %}
    <li>{{ member.username|noemail }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
