{% extends "base.html" %}
{% load short_codes txrx_tags %}

{% block title %}Meeting Minutes{% endblock %}
{% block header_content %}Meeting Minutes{% endblock %}

{% block content %}
<p class="lead">
  {{ SITE_NAME }} holds quarterly member meetings the last Sunday of every January, April, July, and October. Meetings are not open to the general public. All members are welcome to attend, but only voting members can vote on new policy.
</p>
<ul>
  {% for minutes in minutes_set %}
  <li><a href="{{ minutes.get_absolute_url }}">
      {{ minutes }}
  </a></li>
  {% endfor %}
</ul>
{% endblock %}
