{% extends "base.html" %}
{% load thumbnail %}

{% block full_title %}Officers{% endblock %}
{% block header_content %}TXRX Labs - Officers{% endblock %}

{% block content %}
{% for officer in officers %}
<div class="col-sm-12 col-md-6">
  <div class="well">
    <a href="{% url "instructor_detail" officer.user.username %}">
      {% thumbnail officer.user.usermembership.photo.file "180x240" crop="top" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
      {% endthumbnail %}
      <div class="name">{{ officer.user.get_full_name }}</div>
      {{ officer.position }}
    </a>
  </div>
</div>
{% endfor %}
{% endblock %}
