{% extends "base.html" %}

{% block main %}
<div class="tp_table">
  <h1>Membership Levels</h1>
  <div class="row">
    {% for level in levels %}
    <div class="col-sm-4">
      <h2>
        <span>{{ level.order }}</span>{{ level }}
        <a href="/admin/membership/level/{{ level.pk }}/" class="fa fa-pencil-square right superuseronly"></a>
      </h2>
      <p>{{ level.permission_description }}</p>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor %}
  </div>
  <hr/>
  <h1>Door Groups</h1>
  <div class="row">
    {% for doorgroup in doorgroups %}
    <div class="col-sm-4">
      <h2>
        <span>{{ doorgroup.id }}</span>{{ doorgroup }}
        <a href="/admin/tool/doorgroup/{{ doorgroup.pk }}/" class="fa fa-pencil-square right superuseronly"></a>
        <a href="/rfid_access.json?door_id={{ doorgroup.pk }}" class="fa fa-file-code-o right superuseronly"></a>
      </h2>
      <p>{{ doorgroup.description|linebreaks }}</p>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor %}
  </div>
  <hr/>
  <h1>Permissions and tools</h1>
  <div class="row">
    {% for permission,tools in permission_tools %}
    <div class="col-sm-4">
      <h2>
        {% if permission %}
        <span>{{ permission.pk }}</span>{{ permission }}
        <a href="/admin/tool/permission/{{ permission.pk }}/" class="fa fa-pencil-square right superuseronly"></a>
        <a href="/rfid_access.json?permission_id={{ permission.pk }}" class="fa fa-file-code-o right superuseronly"></a>
        {% else %}
        None Assigned
        {% endif %}
      </h2>
      <ul>
        {% for tool in tools %}
        <li>
          <span>{{ tool.pk }}</span> <a href="{{ tool.get_absolute_url }}">{{ tool }}</a>
          <a href="/admin/tool/tool/{{ tool.pk }}/" class="fa fa-pencil-square right superuseronly"></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
