{% extends "base.html" %}

{% block full_title %}Settings - {{ SITE_NAME }}{% endblock %}
{% block header_content %}Edit your account settings{% endblock %}

{% block main %}
<p>If you want to change your password click <a href="{% url "auth_password_change" %}">here</a></p>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table">
    {% for form in forms %}{% for error in form.non_field_errors %}
    <tr><td colspan="3" class="danger">{{ error }}</td></tr>
    {% endfor %}{% endfor %}
    {% for form in forms %}{% for field in form %}
    <tr{% if field.errors %} class="danger"{% endif %}>
      <td>
        <label for="id_{{ field.name }}"{% if field.field.required %} class="required"{% endif %}>
          {{ field.label }}:
        </label>
      </td>
      <td>
        {{ field }}
      </td>
      <td class="muted">
        {% if field.help_text %}
        {{ field.help_text|linebreaks }}
        {% endif %}
      </td>
    </tr>
    {% for error in field.errors %}
    <tr><td colspan="3" class="danger">{{ error }}</td></tr>
    {% endfor %}
    {% endfor %}{% endfor %}
    <tr>
      <td></td>
      <td><input type="submit" class="btn btn-success" /></td>
      <td></td>
    </tr>
  </table>
</form>
{% if notify_courses %}
<h3>Course Notifications:</h3>
{% for notify_course in notify_courses %}
<p>
  <a href="{% url "clear_notification" "notify_course" request.user.id notify_course.id %}?next={{ request.path|urlencode }}">
    <button class="btn btn-danger">
      Don't email me about new "{{ notify_course.course }}" sessions
    </button>
  </a>
</p>
{% endfor %}
{% if notify_courses|length > 1 %}
<p>
  <a href="{% url "unsubscribe" "notify_course" request.user.id %}">
    <button class="btn btn-danger">DELETE ALL COURSE NOTIFICATIONS</button>
  </a>
</p>
{% endif %}
{% endif %}
{% endblock %}
