{% extends "base.html" %}
{% load txrx_tags %}

{% block full_title %}Settings - {{ settings.SITE_NAME }}{% endblock %}
{% block header_content %}Edit your account settings{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="cvfloat">
  {% csrf_token %}
  {% for form in forms %}{% for error in form.non_field_errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}{% endfor %}
  {% for form in forms %}{% include "_form.html" %}{% endfor %}
  <input type="submit" class="btn btn-success" />
</form>
{% endblock %}

{% block side %}
<h1>Other settings</h1>
<p><a href="{% url "auth_password_change" %}" class="btn btn-primary btn-block">Change Password</a></p>
<p><a href="{% url "notify_settings" %}" class="btn btn-primary btn-block">Notification Settings</a></p>

<p>
  Membership Status:
</p>
{% for subscription in request.user.subscription_set.all %}
<div class="alert alert-{{ subscription.bs_class }}">
  <h4>
    {% if subscription.months == 1 %}Monthly{% else %}Yearly{% endif %}
    {{ subscription.level }}
    {% if subscription.subscr_id %}[{{ subscription.subscr_id }}]{% endif %}
  </h4>
  {% if subscription.status_set.count or subscription.canceled %}
  <div>Start Date: {{ subscription.created|date:"M j, Y" }}</div>
  <div>{{ subscription.verbose_status }}</div>
  {% if subscription.canceled and subscription.paid_until > now %}
  <div>Paid until: {{ subscription.paid_until|date:"M j, Y" }}</div>
  {% endif %}
  {% endif %}
  {% if subscription.subscr_id and not subscription.canceled %}
  <form action="/accounts/cancel_subscription/" method="POST" onsubmit="return confirm('This will cancel the selected subscription and stop payments from PayPal. Are you sure you want to do this?');">
    {% csrf_token %}
    <input type="hidden" name="subscription_id" value="{{ subscription.id }}"/>
    <button class="btn btn-danger">Cancel Subscription</button>
  </form>
  {% elif not subscription.canceled %}
  <b>
    Start subscription for
    ${{ subscription.amount}}/{% if subscription.months == 1 %}Month{% else %}Year{% endif %}
  </b>
  <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="{{ settings.PAYPAL_RECEIVER_EMAIL }}">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="on0" value="{{ subscription.level.name }}">
    <input type="hidden" name="a3" value="{{ subscription.amount }}">
    <input type="hidden" name="p3" value="{{ subscription.months }}">
    <input type="hidden" name="t3" value="M">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="sra" value="1">
    <input type="hidden" name="item_number" value="{{ subscription.pk }}">
    <input name="notify_url" type="hidden" value="{{ SITE_URL }}/tx/rx/ipn/handler/">
    <input name="cancel_return" type="hidden" value="{{ SITE_URL }}{{ request.path }}">
    <input name="return" type="hidden" value="{{ SITE_URL }}">
    {% if request.user.is_authenticated %}
    <input type="hidden" name="custom" value="{{ request.user.pk }}"/>
    {% endif %}
    <input type="hidden" name="os0" value="{{ subscription.level.name }} - {{subscription.name }}">
    <input type="hidden" name="currency_code" value="USD">
    <div class="button_box">
      <input type="image" name="submit" alt="PayPal - The safer, easier way to pay online!"
             id="m_{{ subscription.level|slugify }}"
             src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif">
      <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0">
    </div>
  </form>
  {% endif %}
</div>
{% endfor %}
{% endblock %}
