{% extends "base.html" %}
{% load url from future %}

{% block title %}Unsubscribe{% endblock %}
{% block header_content %}You have been Unsubscribed!{% endblock %}

{% block content %}
<p class="lead">
  {% if attr == "global" %}
  You have unsubscribed from all notifications. We will no longer send you notifications for upcoming classes or comment responses.
  {% elif attr == "comments" %}
  You have unsubscribed from comment responses. You will not be notified if someone replies to your comments, so check the site regularly to see responses.
  {% elif attr == "classes" %}
  You have unsubscribed from class reminders. Please be careful not to miss any classes.
  {% endif %}
</p>
<p class="lead">
  You can undo this by changing your <a href="/accounts/settings/">account settings</a> (login required).
</p>
{% endblock %}
