{% extends "base.html" %}
{% load thumbnail crop_util %}
{% load short_codes %}

{% block title %}{{ lab }} Tools{% endblock %}
{% block header_content %}{{ lab }} Tools{% endblock %}

{% block main %}
<div id="tool_{{ lab.slug }}" class="row">
  {% for tool in lab.tool_set.all %}
  <div class="tool_well col-sm-4 col-xs-12">
    <a href="{{ tool.get_absolute_url }}" class="well">
      {% thumbnail tool.first_photo|get_override:"square_crop" "220x220" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
      {% endthumbnail %}
      <div class="content">
        <h3>{{ tool }}</h3>
      </div>
    </a>
  </div>
  {% endfor %}
  <div style="clear:both;"></div>
</div>
{% endblock %}
