{% extends "base.html" %}
{% load thumbnail crop_util %}

{% block header_content %}Tools and Equipment at TX/RX Labs{% endblock %}
{% block full_title %}Tools and Equipment at TX/RX Labs{% endblock %}

{% block main %}
<div id="labs" class="row">
  {% for lab in labs %}
  {% thumbnail lab.first_photo|get_override:"landscape_crop" "600x450" crop="center" as im %}
  <div class="lab col-md-4 col-sm-6 col-xs-12">
    <a href="{% url "lab_detail" lab.slug lab.id %}">
      <img class="bg" src="{{ im.url }}" alt="" />
      <div class="bottom">
        <div class="title">{{ lab.title }}</div>
      </div>
    </a>
  </div>
  {% endthumbnail %}
  {% endfor %}
</div>
{% endblock %}
