{% extends "base.html" %}
{% load thumbnail crop_util %}

{% block header_content %}Tools and Equipment at TX/RX Labs{% endblock %}
{% block full_title %}Tools and Equipment at TX/RX Labs{% endblock %}

{% block main %}
<div id="labs">
  {% for lab in labs %}
  {% thumbnail lab.first_photo|get_override:"landscape_crop" "620x375" crop="center" as im %}
  <input type="radio" id="id_{{ lab.slug }}" name="lab-radios" style="display:none;"{% if forloop.first %}
         checked="checked"{% endif %}/>
  <div class="lab carousel-inner" style="height: {{ im.height }}px;">
    <div class="wrapper">
      <label for="id_{{ lab.slug }}">{{ lab.title }}</label>
      <a href="{% url "lab_detail" lab.slug %}">
        <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" />
        <div class="carousel-caption">
          <p>{{ lab.description }}</p>
          <p>Click here to see all tools for this lab</p>
        </div>
      </a>
    </div>
  </div>
  {% endthumbnail %}
  {% endfor %}
</div>
{% endblock %}
