{% extends "base.html" %}

{% block main %}
<div class="Checkouts col-sm-8">
  <form style="max-width: 200px; margin-bottom: 1rem;">
    <div class="form-group">
      <label for="user_search">User Search</label>
      <input name="user_search" id="user_search" value="{{ request.GET.user_search }}" class="form-control" type="text" />
      <input name="object_id" value="{{ request.GET.object_id }}" type="hidden" />
    </div>
    {% if cutoff or request.GET.nocutoff %}
    <label>
      <input type="checkbox" name="nocutoff" value="true"{% if request.GET.nocutoff %} checked="checked"{% endif %}/>
      Show All
    </label>
    {% endif %}
    <div><button class="btn btn-primary">Update</button></div>
  </form>
  {% if cutoff %}
  <p class="alert alert-warning">This list excludes {{ model_name }}s older than 60 days to speed up page load. Use the checkbox above to include older {{ model_name }}s.</p>
  {% endif %}
  <checkouts-box model_slug="{{ model_slug }}" status="incomplete"></checkouts-box>
</div>
{% endblock %}

{% block extrajs %}
<script type="riot/tag">
  <checkouts-box>
    <div each={ events }>
      <h2>{ name }</h2>
      <div class="alert alert-{ status_class }" each={ objects }>
        <div class="img"><img src={ headshot_url } if={ headshot_url }></div>
        <div class="right">
          <h4>{ display_name }</h4>
          <div>Created On: { created_s }</div>
          <div>Status: { status }</div>
          <div class="buttons" if={ status == "new" }>
            <button class="btn btn-success" onclick={ click } data-status="completed">Pass</button>
            <button class="btn btn-danger" onclick={ click } data-status="failed">Fail</button>
            <button class="btn btn-warning" onclick={ click } data-status="incomplete">Incomplete</button>
          </div>
          <div class="buttons" if={ status != "new" }>
            <div class="btn btn-danger fa fa-thumbs-down" if={ status == "failed" }></div>
            <div class="btn btn-success fa fa-thumbs-up" if={ status == "completed" }></div>
            <div class="btn btn-warning" if={ status == "incomplete" }>:-/</div>
            <button class="btn btn-info" onclick={ click } data-status="new">Undo</button>
          </div>
        </div>
      </div>
    </div>

  this.events = uR._events;
  click(e) {
    this.ajax({
      target: e.target.parentElement,
      url: "",
      method: "POST",
      data: {
        object_id: e.item.id,
        action: e.target.dataset.status
      },
      success: function(data) {
        e.item.status = data.status;
        uR._updateRSVP(e.item);
      },
    })
  }
  </checkouts-box>
</script>
<script>
uR.auth.ready(function() {
  uR._events = {{ events|safe }};
  var _s = "MMMM Do YYYY, h:mm:ss a"

  uR._updateRSVP = function(rsvp) {
    rsvp.created_s = moment(rsvp.datetime).format(_s);
    if (rsvp.status == "completed") { rsvp.status_class = "success"; }
    else if (rsvp.status == "failed") { rsvp.status_class = "danger"; }
    else if (rsvp.status == "incomplete") { rsvp.status_class = "warning"; }
    else { rsvp.status_class = "info" }
  }
  uR.forEach(uR._events,function(event) {
    uR.forEach(event.objects,uR._updateRSVP);
  });
  riot.mount("checkouts-box");
});
</script>
{% endblock %}
