{% extends "base.html" %}
{% load thumbnail crop_util %}
{% load short_codes %}

{% block title %}{{ tool }}{% endblock %}
{% block header %}{% endblock %}

{% block main %}
<div id="tool_{{ tool.slug }}" class="row tool">
  <div class="col-sm-8">
    {% include "widgets/thing_slideshow.html" with thing=tool %}
  </div>
  <div class="col-sm-4">
    {% if tool.make or tool.model %}
    <h4>{{ tool.make|default:"" }} {{ tool.model|default:"" }}</h4>
    {% endif %}
    <h2>{{ tool }}</h2>
    {% if not tool.functional %}
    <div class="alert alert-danger">
      <h4>This tool is not functional at this time</h4>
      <b>Estimated Repair Date:</b> {{ tool.repair_date|default_if_none:"Unknown" }}
    </div>
    {% endif %}
    {{ tool.description|explosivo }}
    <hr />
    {% if tool.toollink_set.all %}
    <div>Related Links:</div>
    {% for link in tool.toollink_set.all %}
    <a href="{{ link.url }}">{{ link.title }}</a><br />
    {% endfor %}
    {% endif %}
    {% if tool.consumables.all %}
    <h4>Materials used</h4>
    {% for material in tool.materials.all %}
    <a href="{{ material }}">{{ material }}</a><br />
    {% endfor %}
    {% endif %}
    {% include "_generic_box.html" with items=tool.courses title="Related Courses" %}
    {% include "_generic_box.html" with items=tool.things title="Related Things" %}
  </div>
</div>
{% endblock %}
