{% extends "base.html" %}
{% load thumbnail crop_util %}
{% load short_codes %}

{% block title %}{{ tool }}{% endblock %}
{% block header %}{% endblock %}

{% block main %}
<div id="tool_{{ tool.slug }}" class="row tool">
  <div class="col-sm-8">
    {% include "widgets/thing_slideshow.html" with thing=tool %}
  </div>
  <div class="col-sm-4">
    {% if tool.make or tool.model %}
    <h4>{{ tool.make|default:"" }} {{ tool.model|default:"" }}</h4>
    {% endif %}
    <h2>{{ tool }}</h2>
    {% if not tool.functional %}
    <div class="alert alert-danger">
      <h4>This tool is not functional at this time</h4>
      <b>Estimated Repair Date:</b> {{ tool.repair_date|default_if_none:"Unknown" }}
    </div>
    {% endif %}
    {{ tool.description|explosivo }}
    <hr />
    {% if tool.toollink_set.all %}
    <h4>Related Links</h4>
    {% for link in tool.toollink_set.all %}
    <a href="{{ link.url }}">{{ link.title }}</a><br />
    {% endfor %}
    {% endif %}
    {% if tool.materials.all %}
    <h4>Material{{ tool.materials.all|pluralize:"s" }} used</h4>
    {{ tool.materials.all|join:", " }}
    {% endif %}
    {% include "_generic_box.html" with items=tool.courses title="Related Courses" %}
    {% if tool.things %}
    <div class="things">
      <h3 class="block_title">Related Projects</h3>
      {% for thing in tool.things|slice:":6" %}
      {% thumbnail thing.first_photo|get_override:"square_crop" "300x300" crop="center" as im %}
      <div class="thing thing{{ forloop.counter }} col-xs-6 col-sm-4">
        <a href="{{ thing.get_absolute_url }}">
          <img src="{{ im.url }}" />
        </a>
      </div>
      {% endthumbnail %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <comment-list data-object_pk="{{ tool.pk }}" data-content_type="tool.tool"></comment-list>
  </div>
</div>
{% endblock %}

{% block extrajs %}{% include "_comment_media.html" %}{% endblock %}
