{% extends "base.html" %}
{% load thumbnail %}
{% block main %}
{% thumbnail location.src "100000x100000" crop="noop" upscale=False as im %}
<img src="{{ im.url }} " id="location_map" style="display:none" width="{{ im.width }}" height="{{ im.height }}" />
{% endthumbnail %}
<canvas id="location_canvas"></canvas>
<form method="POST" id="location_form">
  {{ formset.management_form }}
  {% for form in form_set %}
  <label for="room{{ form.instance.id }}">
    {{ form.instance.name|default_if_none:"New" }}
  </label>
  <input type="radio" id="room{{ form.instance.id }}" name="room_selector" />
  <div class="room_form">
    {{ form.as_p }}
  </div>
  {% endfor %}
</form>
<script>
function Room(_o) {
  return {
    x: _o.x,
    y: _o.y,
  }
}
function LocationPicker(_o) {
  _o = _o || {};
  _o.editable = _o.editable || false;
  _o.rooms = _o.rooms || [];
  var img = document.getElementById("location_map");
  var canvas = document.getElementById("location_canvas");
  var context = canvas.getContext("2d");
  var mouse_down = false;
  var current_object;
  function drawRoom(r,color) {
    context.beginPath();
    context.rect(r.x,r.y,r.w,r.h);
    context.fillStyle = color;
    context.fill();
    context.lineWidth = 2;
    context.strokeStyle = 'gray';
    context.stroke();    
  }
  function draw() {
    context.clearRect(0,0,canvas.width,canvas.height);
    if (canvas.height < 400) {
      canvas.width = img.width;
      canvas.height = img.height;
    }
    context.drawImage(img,0,0);
    for (var i=0;i<_o.rooms.length;i++) {
      drawRoom(_o.rooms[i],'yellow');
    }
    if (current_object) { drawRoom(current_object,'pink') }
  }
  var interval = setInterval(draw,100);
  function mouseDown(event) {
    mouse_down = true;
    current_object = new Room({x:event.layerX,y: event.layerY,w:0,h:0});
    console.log(current_object)
  }
  function mouseMove(event) {
    if (!current_object) { return event; }
    current_object.w = event.layerX - current_object.x;
    current_object.h = event.layerY - current_object.y;
  }
  function mouseUp(event) {
    _o.rooms.push(current_object);
    current_object = null;
  }
  if (_o.editable) {
    canvas.addEventListener("mousedown",mouseDown);
    canvas.addEventListener("mouseup",mouseUp)
    canvas.addEventListener("mousemove",mouseMove)
  }
}
map_options = {editable: true,rooms: []};
var picker = new LocationPicker(map_options);
</script>
{% endblock %}
