*.pyc
*.py~
*~
\#*
media/*
static/*
log/*
scripts/backups
txrx/txrx.db
txrx/settings/local.py
 # I'm merging this project into txrx.org/txrx as chores
goldstar/*
env
env/*
environ/*
.pydev
.pydevproject
.project
.idea
