#temp files, etc.
*.pyc
*.py~
*~
\.\#*
\#*
.DS_Store

#site generated content
static/*
.media/*
.static/*
.staff/*
.dev/*
log/*
scripts/backups

#virtual environments
env/*
environ/*
.environ/*
.e/*
src/*
.pydev
.pydevproject
.project
.idea
node/*
.dev/*

#relevant to development
main/local.db
main/settings/local.py
*.sql
scripts/anon.db
scripts/backup.json

todo.org
node_modules/