#temp files, etc.
*.pyc
*.py~
*~
\.\#*
\#*

#site generated content
media/*
static/*
.media/*
.static/*
log/*
scripts/backups

#virtual environments
env/*
environ/*
.environ/*
src/*
.pydev
.pydevproject
.project
.idea
node/*

#relevant to development
txrx/local.db
txrx/settings/local.py
*.sql
scripts/anon.db
scripts/backup.json