django==1.8.12
-e git+https://github.com/dcramer/django-devserver.git#egg=django-devserver
-e git+https://github.com/chriscauley/django-registration.git#egg=django-registration
django_compressor==2.1
django-localflavor
djangorestframework
djangorestframework-jwt
BeautifulSoup==3.2.1
psycopg2
django-suit
django-contrib-comments
ezdxf

#image stuff
-e git+https://github.com/chriscauley/sorl-thumbnail.git#egg=sorl-thumbnail
-e git+https://github.com/chriscauley/Django-Crop-Override-Field.git#egg=django-crop-override-field
pillow==2.1.0

django-mptt==0.5.4
-e git+https://github.com/chriscauley/django-riot-comments.git#egg=django-riot-comments.git

django-redis-cache
Markdown
django-timezones==0.2
pytz>=2011n
Pygments
requests
-e git://github.com/durden/frappy.git#egg=frappy

django-polymorphic==django-polymorphic==0.9.2
django-tagging==0.3.6
django-next-please
icalendar
python-social-auth

-e git+https://github.com/chriscauley/django-shop.git#egg=django-shop
-e git+https://github.com/chriscauley/django-wmd-editor.git#egg=django_wmd_editor
#-e git+https://github.com/chriscauley/lablackey.git#egg=lablackey
django_paypal==0.2.5
-e git+https://github.com/kavdev/dj-stripe@1.0.0#egg=dj-stripe
django-colorful
