{% extends "base.html" %}
{% load thumbnail short_codes%}

{% block full_title %}{{ flatpage.title }}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div id="flatpage">
{{ flatpage.content|explosivo }}
{% if flatpage.flatpageprice_set.all %}
<table class="table stripped">
  <tr>
    <th>Service</th>
    <th>TXRX Member Rate</th>
    <th>Non-member Rate</th>
  </tr>
  {% for price in flatpage.flatpageprice_set.all %}
  <tr>
    <td>{{ price.name }}</td>
    <td>{{ price.member_rate }}</td>
    <td>{{ price.nonmember_rate }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}

{% block side %}
{% if request.path == "/map/" %}
{% include "sides/_contact_us.html" %}
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
