{% extends "base.html" %}
{% load short_codes static %}

{% block full_title %}SUPPORT CREATIVITY, INNOVATION, and CONNECTION!{% endblock %}
{% block header %}{% endblock %}

{% block main %}
<div class="row" id="support-page">
  <div id="flatpage" class="col-lg-8 col-lg-offset-2">
    <h1 class="page_title">Support Creativity, Innovation, and Connection!</h1>
    <p class="lead">Your support helps us sustain and grow TXRX Labs as a space for education, collaboration, and innovation.</p>
    <p class="lead">Current funding is needed for the following initatives:</p>
    <div class="row images">
      <div class="col-sm-6">
        <h3 class="block_title">Youth Programs</h3>
        <div class="btn btn-primary">
          <div class="img" style="background-image: url(//txrxlabs.org/media/uploads/photos/2017-04/unnamed_1.jpg)">
          </div>
          <div class="text">{{ settings.SITE_NAME }} provides unique hands-on STEAM education. Students unlock the potential of science and technology one project at a time, motivating them to start their own businesses or dream of careers as professional scientists. They learn how to construct the objects of their imagination and deconstruct the world around them.</div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3 class="block_title">Navigation Street Kiosk</h3>
        <div class="btn btn-primary">
          <div class="img" style="background-image: url(//txrxlabs.org/media/uploads/photos/2017-04/Kiosk.JPG)"></div>
          <div class="text">{{ settings.SITE_NAME }} is opening an entrepreneurship incubator on the Navigation Street Esplanade. This location provides real world training in entrepreneurship and fabrication allowing local youth to live, work, and innovate in the East End of Houston. The kiosk will offer free demo classes in 3D fabrication, laser cutting, and vertical farming. Our maker to market program will provide hand-made goods designed and fabricated by local youth.</div>
        </div>
      </div>
    </div>
    <h1 class="page_title">Make a Contribution Today</h1>

    <money-widget></money-widget>

    <div class="row">
      <div class="col-sm-6">
        <h3 class="block_title">DONATE TOOLS &amp; EQUIPMENT</h3>
        <p>We LOVE new and used tools and equipment.</p>
        <p>Currently we are wishing for:</p>
        <ul>
          <li>pottery wheels</li>
          <li>a Raiku kiln</li>
          <li>Gift cards to Amazon, Home Depot, and Lowes</li>
        </ul>
    
        <p>If you would like to donate a physical item, please contact us at <a href="{{ settings.MEMBERSHIP_URL }}">{{ settings.MEMBERSHIP_URL }}</a> and we will schedule a time to meet with you and evaluate the donation</p>
      </div>
      <div class="col-sm-6">
        <h3 class="block_title">VOLUNTEER</h3>
        <p>We are SO grateful for our team of volunteers that help us with our daily operations. If you are interested in joining our volunteer team, apply at <a href="https://airtable.com/shr6u0aDoBZjjCBBL">https://airtable.com/shr6u0aDoBZjjCBBL</a></p>
      </div>
    </div>
    <a href="https://donorhouston.guidestar.org/" class="support-logo">
      <img src="{% static "txrx/support-logo.jpg" %}" /></a>
  </div>
</div>

{% endblock %}
