<div class="well">
  <div class="text">
    <b>
      <div>{{ user }} {{ user.first_name }} {{ user.last_name }}
        <a href="{{ user.get_admin_url }}" class="fa fa-edit"></a></div>
      <div class="text-{{ user.gaby_class }}">
        {{ user.level }} {% if user.last_subscription %}
        (Paid Until {{ user.last_subscription.paid_until }}) {% endif %}
      </div>
      <div>{{ user.email }}</div>
      <div>Paypal: {{ user.paypal_email }}</div>
    </b>
    <div class="hidden-sm hidden-xs">
      {% for enrollment in user.enrollment_set.all %}
      <div>
        {% if enrollment.completed %}
        <i class="text-success fa fa-check-circle"></i>
        {% elif enrollment.session.past %}
        <i class="text-danger fa fa-times-circle"></i>
        {% else %}
        <i class="text-info fa fa-minus-circle"></i>
        {% endif %}
        <a href="/classes/instructor_session/{{ enrollment.id }}/" class="instructor-link fa fa-edit"></a>
        {{ enrollment.session }}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="buttons">
    <div class="cell">
      <form method="POST">
        {% csrf_token %}
        <input name="user_id" value="{{ user.id }}" type="hidden">
        {% if user.id in oriented_ids %}
        <input type="hidden" name="action" value="fail"/>
        <button class="btn btn-success">Complete!</button>
        {% else %}
        <input type="hidden" name="action" value="pass"/>
        <button class="btn btn-danger">Incomplete</button>
        {% endif %}
      </form>
    </div>
    <div class="cell">
      <ez-file url="/api/change_headshot/" user_id="{{ user.id }}" name="Headshot" success_text="photo"
               done="{{ user.headshot_url|default_if_none:"" }}" type="img" no_preview="true"></ez-file>
    </div>
    <div class="cell">
      <ez-file url="/api/change_id_photo/" user_id="{{ user.id }}" name="ID Photo" success_text="ID"
               done="{{ user.id_photo_date|default_if_none:"" }}" type="img" no_preview="true"></ez-file>
    </div>
    <div class="cell">
      <div class="btn btn-{% if user.done_docs == 3 %}success{% else %}danger{% endif %}">
        {{ user.done_docs }}/3 Docs</div>
    </div>
    <div class="cell">
      <set-rfid active_id="{{ user.id }}"></set-rfid>
    </div>
  </div>
</div>
