{% extends parent %}
{% load url from future %}

{% block pre_title %}Events at TX/RX{% endblock %}
{% block header_content %}Events at TX/RX{% endblock %}

{% block main %}
<div class="paginator">
  <a class="left" href="{% url "event:index" previous|date:"Y-m-d" %}">&laquo; Previous 7 Days</a>
  <strong>{{ current_date }} - {{ next }}</strong>
  <a class="right" href="{% url "event:index" next|date:"Y-m-d" %}">Next 7 Days &raquo;</a>
</div>
<table>
  {% for week in weeks %}
  <tr>
    {% for day,occurrences in week %}
    <td style="vertical-align:top;{% if day %} border: 1px gray solid{% endif %}">
      <div style="width: 135px; min-height: 150px;">
        {{ day }}
        {% for occurrence in occurrences %}
        <p>
          <a href="{{ occurrence.get_absolute_url }}">{{ occurrence.short_name }}</a>
        </p>
        {% endfor %}
      </div>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
