{% extends "base.html" %}
{% load short_codes %}
{% load thumbnail %}

{% block title %}{{ occurrence.name }}{% endblock %}
{% block header_content %}{{ occurrence.name }}{% endblock %}

{% block content %}
{% if occurrence.get_photoset %}
{% include "widgets/photo_slideshow.html" with photos=occurrence.get_photoset.get_photos %}
{% endif %}
<p class="lead">{{ occurrence.start }}{% if occurrence.end %} - {{ occurrence.end.time }}{% endif %}</p>
<p><a href="{{ occurrence.google_link }}">Add to Calendar</a>
<p>{{ occurrence.description|explosivo }}</p>
{% endblock %}
