{% extends "base.html" %}
{% load short_codes thumbnail %}

{% block title %}{{ occurrence.name }}{% endblock %}

{% block main %}
{% with photos=occurrence.get_photos %}
<div class="col-sm-6">
  <h3 class="block_title">{{ occurrence.name }}</h3>
  <p class="lead">{{ occurrence.start }}{% if occurrence.end %} - {{ occurrence.end.time }}{% endif %}</p>
  <div class="calendar_widget">
    <a href="javascript:;" onclick="$('.add_to_calendar').toggle()">Add to calendar</a>
    {% include "course/_add_to_calendar.html" with calendar_event=occurrence %}
  </div>
  <p>{{ occurrence.description|explosivo }}</p>
</div>
<div class="col-sm-6">
  <div class="photo_well">
    {% include "widgets/side_photos.html" %}
  </div>
</div>
{% endwith %}
{% endblock %}
