{% extends "base.html" %}

{% block title %}Orientations{% endblock %}

{% block main %}
<div id="orientations">
  {% if request.GET.q %}
  {% for user in users %}
  {% include "event/_orientation_box.html" %}
  {% empty %}
  <h1>No users found matching that criterion</h1>
  {% endfor %}
  {% else %}
  <div>
    {% if prev_occ %}
    <a href="/event/orientations/{{ prev_occ.start|date:"Y/m/d" }}/">
      &laquo; {{ prev_occ.start|date:"M/d/Y" }}</a>
    {% endif %}
    {% if next_occ %}
    <a href="/event/orientations/{{ next_occ.start|date:"Y/m/d" }}/" class="pull-right">
      {{ next_occ.start|date:"M/d/Y" }} &raquo;</a>
    {% endif %}
    <div style="clear: both"></div>
  </div>
  {% for eventoccurrence in eventoccurrences %}
  <h1>{{ eventoccurrence }}</h1>
  <div class="imtooflexy">
    {% for rsvp in eventoccurrence.get_rsvps %}
    {% include "event/_orientation_box.html" with user=rsvp.user %}
    {% empty %}
    <h2>:D No one signed up for this orientation</h2>
    {% endfor %}
  </div>
  {% empty %}
  <h1>No Orientations at This Date</h1>
  {% endfor %}
  {% endif %}
  <h2>Search All Users</h2>
  <form action="." method="GET">
    <input value="{{ request.GET.q }}" name="q" />
    <input type="submit" value="Search">
  </form>
</div>
<script type="riot/tag">
  <ez-file>
    <form action={ opts.url } method="POST">
      <input type="file" id="file__{ slug }__{ opts.user_id }" onchange={ uploadFile } name={ slug } />
      <input type="hidden" name="user_id" value={ opts.user_id } />
      <label for="file__{ slug }__{ opts.user_id }" class="btn-{ done?'success':'danger' } btn">
        { opts.name }
      </label>
    </form>
    this.on("mount", function() {
      this.slug = this.opts.name.replace(" ","_").toLowerCase();
      this.done = this.opts.done;
      this.update();
    });
    uploadFile(e) {
      var form = this.root.querySelector("form");
      var that = this;
      uR.ajax({
        url: this.opts.url,
        method: "POST",
        that: this,
        form: form,
        success: function(data) { this.done = data.done },
      });
    }
  </ez-file>
</script>
<script>
  uR.ready(function() { riot.mount("ez-file,set-rfid"); });
</script>
<script src="/static/tags/tool.tag" type="riot/tag"></script>
{% endblock %}
