/*
  much has been removed from the original codrspace.css
  DO NOT PUT OVERRIDES IN HERE OR CHANGE ANYTHING!
  */

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 18px;
}

/**
* Post List Styles
*/
#post-list-page {
  margin-top: 20px;
}

#popover-content {
  display: none;
  visibility: hidden;
}

#popover-wrap img {
  float: left;
}

#popover-wrap p {
  float: left;
  color: #777;
  margin-bottom: 5px;
  margin-left: 15px;
  width: 150px;
}

/**
* Post Detail Style
*/
.post-meta {
  color: #777;
  vertical-align: bottom;
  line-height: 11px;
}

.post-meta a {
  vertical-align: bottom;
  line-height: 11px;
}

.post-meta i {
  vertical-align: bottom;
  line-height: 11px;
}

div.post-content {
  margin: 40px 0 40px 0;
  width: 750px;
}

div.post-content p {
  font-size: 14px;
  line-height: 25px;
  color: #555;
}

div.post-content h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/**
* Admin area styles
*/

ul#post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul#post-list li a {
  margin: 0 0 0 10px;
  font-size: 18px;
  vertical-align: bottom;
  line-height: 13px;
}

ul#post-list li {
  padding: 8px;
  border-bottom: 1px solid #CCC;
}

ul#post-list li:hover {
  background-color: #DDD;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

ul#post-list span.post-list-date {
  margin: 0 0 0 10px;
  vertical-align: bottom;
  line-height: 11px;
  color: #777;
}

#media-list .media-item {
  font-size: 14px;
}

#media-list .media-item a {
  text-decoration: none;
  display: block;
  padding: 10px 5px 10px 5px;
  color: #777;
}

#media-list .media-item a:hover {
  color: white;
  background-color: #AAA;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#view-post-link {
  color: black;
  font-size: 12px;
}

.sc-example {
  color: #777;
}

/**
* Pygments overrides
*/
.highlight {
  padding: 5px 0px 5px 20px;
  background-color: #EEE;
}

.highlighttable .linenos {
  vertical-align: top;

}
.highlighttable .highlight {
  overflow: auto; width: 635px;
}

/**
* Form styles
*/
.form-button {
  margin-top: 20px;
}

/**
* Bootstrap Overrides
*/
ul.home-options-list {
  list-style-type: none;
}
#preview-modal {
  display: none;
}

#preview-page {
  width: 530px;
}
