.store-button { display:none; }
shopping-cart .payment_buttons {
  max-width: 400px;
}
.mobile-cart cart-button {
  top: 9px;
  right: 60px;
  position: absolute;
}

shopping-cart .item {
  border-bottom: @borderGray 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  position: relative;
  &:last-child { border-bottom: 0; }
  .price-box {
    padding-left: 20px;
    text-align: right;
  }
}
