.store-button { display:none; }
shopping-cart .payment_buttons {
  max-width: 400px;
  margin: 0 auto;
}

shopping-cart .well { margin-bottom: 5px; }
shopping-cart .modal-content { width: 500px; }
.mobile-cart {
  border: none;
  cart-button {
    top: 8px;
    right: 60px;
    position: absolute;
  }
}
.nav .hidden-xs cart-button {
  float: none;
}

shopping-cart .item {
  border-bottom: @borderGray 1px solid;
  padding: 5px 8px;
  position: relative;
  &:last-child { border-bottom: 0; }
}
