body.kiosk {
  #mobileCart, nav, footer, .navbar-collapse.collapse { display: none !important; }
  maintenance, checkin-email, checkin-home, checkin-register {
    .logo { display: block; margin: 0 auto; }
    .inner {
      display: block;
      margin: 0 auto;
      max-width: 500px;
    .btn { font-size:1.5em; }
    }
  }
  h1 { margin-bottom: 20px; }
  p { margin-bottom: 1em; }
}

maintenance, checkin-home, todays-checkins {
  display: block;
  margin: 0 auto;
  width: 600px;
  .btn { margin-bottom: 20px; }
  h4, .messagelist { text-align: center; }
  .center {
    text-align: center;
    label { text-align: left; }
  }
}

todays-checkins {
  .card-abs { bottom: 10px; left: 10px; position: absolute; margin-bottom: 0; }
}

/*move to another file, maybe ur forms less file */
.ur-tooltip {
  position: relative;
  .ur-tooltip-content {
    color: @textColor;
    display: none;
  }
  &:focus .ur-tooltip-content { display: block; }
}

.debug-console {
  border: black double 6px;
  bottom: 0;
  left: 0;
  padding: 5px;
  position: fixed;
  .btn {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
}