body.kiosk {
  nav, footer, .navbar-collapse.collapse { display: none !important; }
  checkin-email, checkin-home, checkin-register {
    .inner {
      display: block;
      margin: 0 auto;
      text-align: center;
      max-width: 450px;
    .btn { font-size:1.5em; }
    }
  }
  h1 { margin-bottom: 20px; }
  p { margin-bottom: 1em; }
}

checkin-home {
  display: block;
  width: 600px;
  .btn { margin-bottom: 20px; }
}