ur-input {
  display: block;
  margin-bottom: 1em;
  .errorlist { padding: 0; }
}

ur-form {
  ur-input {
    position: relative;
    padding-top: 20px;
    label {
      color: @blue;
      font-size: 14px;
      left: 0;
      position: absolute;
      top: 0;
    }
    input { width: 100%; }
  }
  .btn { margin-bottom: 20px; }
}

.messagelist {
  list-style: none;
  margin: 0 auto 20px;
  padding: 0;
}