.ur-input {
  display: block;
  margin-bottom: 1em;
  position: relative;
  .errorlist { padding: 0; }
  label {
    color: @blue;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0;
  }
  input { width: 100%; }
  .error { color: @red; }
  &.invalid {
    border-color: @red;
  }
}

.ur-input {
  &.radio, &.checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding-top: 1.6rem;
    padding-left: 0; // holdover from bootstrap
    checkbox-input {
      flex-basis: 100%;
      order: 2;
    }
    .error { order: 3; }
    .fa-question-circle-o { display: none; }
  }
}

ur-form {
  .btn { margin-bottom: 20px; }
  p.blue { color: @blue; }
}

ur-form .non_field_error {
  color: red;
  text-align: center;
}

.messagelist {
  list-style: none;
  margin: 0 auto 20px;
  padding: 0;
}

.ur-input checkbox-input {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .choice {
    margin: 10px 0 0;
    flex-basis: 200px;
  }
}

ur-document {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

ur-document ur-form form {
  display: flex;
  flex-wrap: wrap;
  .ur-input {
    flex-basis: 100%;
    &.start_date,&.end_date {
      flex-basis: 50%;
      label:before {
        bottom: -26px;
        left: 5px;
        position: absolute;
      }
      input { padding-left: 60px; }
    }
    &.start_date {
      padding-right: 20px;
      label:before { content: "From:" }
    }
    &.end_date {
      label {
        color: transparent;
        &:before { color: @blue; content: "To:" }
      }
    }
  }
}

admin-dashboard ur-form form {
  display: flex;
  justify-content: flex-start;
  .ur-input { flex-basis: auto; margin-right: 30px; }
}

label + [type=checkbox] + .help-block { display: inline; }

.notify-form .form-group {
  display: flex;
  flex-wrap: wrap;
  label, .help-block { order: 0; }
  > label, ul { flex-basis: 100%; }
  ul { order: 1; }
  > label { font-size: 22px; }
}
