/* bootstrap overrides */
.navbar-brand {
  padding: 0 10px;
  img {
    height: 45px;
    margin:8px;
    @media (min-width: @screen-sm-min) {
      height: 70px;
      margin-top: -10px;
    }
  }
}
.navbar-collapse {
  max-height: none;
  &.in {
    @media (max-width: @screen-xs-max) {
      display: flex;
      flex-wrap: wrap;
      .navbar-nav {
        flex-basis: 100%;
        order: 1;
        &.auth { order: 0; }
      }
    }
  }
}
.navbar-nav > li.current a:after {
  background: @gray-lighter;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}
.dropdown-menu { top: 75%; }
.navbar-nav { text-transform: uppercase; }
.navbar .auth {
  overflow: visible;
  text-transform: none;
  white-space: nowrap;
  width: auto;
}
.nav > li.social {
  > a {
    display: inline-block;
    vertical-align: top;
    .fa {
      line-height: 1.2;
      font-size: 16px;
    }
  }
}
@media (max-width: @screen-xs-max) {
  nav li { border-bottom: 1px solid fade(@gray-darker,10%); }
  nav > ul > li { border-top: 1px solid fade(@gray-darker,10%); }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .navbar-default .navbar-nav > li > a { font-size: 13px; }
}
@media (min-width: @screen-md-min) {
  .nav > li.social {
    margin-left: 15px;
    margin-right: 15px;
    border-left: 2px solid fade(@gray-darker,30%);
    border-right: 2px solid fade(@gray-darker,30%);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
  }
  nav {
    margin-top: 5px;
    padding-top: 25px;
    position: relative;
  }
  .navbar-default .main-nav > li > a {
    padding-top: 22px;
    padding-bottom: 0;
    //.navFont;
  }
  .navbar-default .auth {
    right: 0;
    position: absolute;
    top: 0;
    > li > a { padding-top: 5px; padding-bottom: 0; }
  }
  .dropdown-menu { top: 100%; }
}
@media (max-width: @screen-xs-max) { .auth { width: 100%; } }
