body, html {
  height: 100%;
  width: 100%;
}

@textColor: rgba(0, 0, 0, 0.87);
.fa { line-height: inherit; }

@import "checkin.less";

// materialize overrides :(

.collapsible {
  .collapsible-body {
    display: block;
    max-height: 0;
    overflow-y: scroll;
    transition: max-height 0.25s;
    p { margin: 0; }
    .collapsible-inner { padding: 1rem; }
  }
  > .active > {
    .collapsible-body { max-height: 500px; }
  }
}