@rowHeight: 34px;
@rowSpacing: 10px;
product, product-admin {
  .name { height: 40px; }
  .price {
    font-size: 20px;
    height: @rowHeight + @rowSpacing;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
  }
  .btn-block {
    height: @rowHeight;
    line-height: @rowHeight - 2px;
    padding: 0;
    margin-bottom: @rowSpacing;
  }
  .flexy {
    display: flex;
    margin: 0 -5px;
    .btn { flex-basis: 50%; margin: 0 5px; }
  }
  .well { position: relative; }
  .gone { opacity: 0 }
  @media (max-width: @screen-xs-max) {
    .well {
      max-width: 300px;
      margin: 0 auto;
    }
  }
  .col-xs-6 {
    &:nth-child(2n+1) { padding-right: @rowSpacing/2; }
    &:nth-child(2n) { padding-left: @rowSpacing/2; }
  }
}

product, product-admin {
  position: relative;
  .bottom {
    background: inherit;
    bottom: 0;
    left: 0;
    padding-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    position: absolute;
    right: 0;
  }
  .img {
    .fixed-ratio(50%);
    margin-bottom: 88px;
  }
  .out-of-stock {
    position: relative;
    &:before {
      background: url(/static/img/sold_out.png) fade(@gray-lighter,75%) center 25% no-repeat;
      background-size: 80% auto;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top:0;
      z-index:1;
    }
  }
}

product.tiny {
  .name {
    font-size: 1.2em;
    font-weight: bold;
    height: auto;
    margin-bottom: 5px;
    text-align: center;
  }
  .price { height: auto; }
  .btn-block { margin-bottom: 0; }
  .bottom { position: static; }
  .img { display: none; }
  .out-of-stock:before { background-size: auto 80%; }
}

category-list {
  .active {
    font-weight: bold;
  }
}
