product {
  .name {
    height: 40px;
  }
  .price {
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
  }
}

@rowHeight: 34px;
product {
  .img,.cart-buttons {
    transition: height 0.25s;
    overflow: hidden;
  }
  .cart-buttons { height: 0; }
  .img {
    height: 140px;
  }
  .incart {
    .img { height: 140px - @rowHeight*2; }
    .cart-buttons { height: @rowHeight*2; }
  }
}