{% extends "base.html" %}
{% load store_tags %}

{% block title %}Shop Checkouts{% endblock %}

{% block main %}
<div class="Checkouts col-sm-6">
  {% include "store/_checkouts.html" with title="Incomplete" alert="warning" enrollments=incomplete_enrollments %}
  {% include "store/_checkouts.html" with title="Failed" alert="danger" enrollments=failed_enrollments %}
</div>
<div class="Checkouts col-sm-6">
  {% include "store/_checkouts.html" with title="Completed" alert="success" enrollments=completed_enrollments %}
</div>
{% endblock %}
