{% extends "shop/base.html" %}
{% load thumbnail crop_util %}

{% block body %}
<h1>Jump To...</h1>
<div class="row">
  {% for category in categories %}
  <div class="col-sm-4"><button class="btn btn-primary btn-block">{{ category }}</button><br/></div>
  {% endfor %}
</div>
<product-list></product-list>
{% endblock %}

{% block extrajs %}
<script>var CART = {{ cart|safe }};</script>
<script src="/products.js"></script>
<script type="riot/tag" src="{{ STATIC_URL }}tags/store.tag"></script>
<script>
riot.mount("product-list",{});
</script>
{% endblock %}
