{% extends "base.html" %}

{% block title %}Shop Receipts{% endblock %}

{% block content %}
<div id="receipts">
  <h1>Outstanding Orders <a class="pull-right fa fa-list" href="/admin/shop/order/"></a></h1>
  {% for order in outstanding_orders %}
  <div class="well">
    <form method="POST">
      <input name="status" value="{{ order.SHIPPED }}" type="hidden">
      <input name="pk" value="{{ order.pk }}" type="hidden">
      <button class="btn btn-success pull-right">Mark Delivered</button>
    </form>
    <b>Order #{{ order.pk }} - {{ order.user }}<br/> {{ order.created|date:"m/d@P" }}</b>
    <ul>
      {% for item in order.items.all %}
      <li><b>{{ item.quantity }}x</b> {{ item.product }}</li>
      {% endfor %}
      {% if order.extra_info.all %}<br/>{% endif %}
      {% for info in order.extra_info.all %}
      <li>{{ info.text }}</li>
      {% endfor %}
    </ul>
  </div>
  {% empty %}
  <p class="lead">There are no outstanding orders. Hooray</p>
  {% endfor %}
  <h1>Delivered Orders</h1>
  {% for order in delivered_orders %}
  <div class="well">
    <form method="POST">
      <input name="status" value="{{ order.COMPLETED }}" type="hidden">
      <input name="pk" value="{{ order.pk }}" type="hidden">
      <button class="btn btn-success pull-right">Mark Outstanding</button>
    </form>
    <b>Order #{{ order.pk }} - {{ order.user }}<br/> {{ order.created|date:"m/d@P" }}</b>
    <ul>
      {% for item in order.items.all %}
      <li><b>{{ item.quantity }}x</b> {{item.product }}</li>
      {% endfor %}
      {% if order.extra_info.all %}<br/>{% endif %}
      {% for info in order.extra_info.all %}
      <li>{{ info.text }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}
