{% extends "lablackey:admin/base.html" %}
{% load admin_static suit_tags i18n %}

{% block userlinks %}
{% url 'django-admindocs-docroot' as docsroot %}
{% if docsroot %}
<a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
<span class="separator">|</span>
{% endif %}
<a href="javascript: void(0);" onclick="openPasswordChange()">{% trans 'Change password' %}</a>
<span class="separator">|</span>
<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
<script>
  function openPasswordChange() {
    openModal({
      content: '<password-change>',
      title: 'Change Password',
    });
  }
  function openModal(arg1,opts) {
    if (arg1.content) {
      opts = arg1;
      content = arg1.content;
    }
    var e = document.createElement("modal");
    e.innerHTML = content;
    document.body.appendChild(e);
    riot.mount("modal",opts);
  };
  $(function() {
    $(".vForeignKeyRawIdAdminField").each(function(i) {
      if (!this.value) { return; }
      var url = $(this).parent().find(".related-lookup")[0].href.split("?")[0]+this.value+"/";
      var link = "<a href='"+url+"' class='fa fa-edit' style='text-decoration:none;margin-left: 10px;''></a>"
      $(this).parent().find("strong").append(link);
    });;
    
  });
</script>
<style>
  .form-row .edit {font-size: 2em; position: absolute; right: 105%; text-decoration: none !important; z-index: 1; }
  .field-voters_present ul { width: 300px; }
  .field-voters_present li { width: 150px; display: inline-block; }
  .field-signature .controls { position: relative; }
  .field-signature .controls:before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .field-signature .controls .btn { display: none; }
  .tabular.inline-related textarea, .form-horizontal textarea { width: 100%; }
  .form-horizontal textarea { min-height: 200px; }
</style>
{% endblock %}
