{% extends "base.html" %}
{% load compress %}

{% block main %}
<h1>Sales Dashboard</h1>
<ur-plot></ur-plot>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="riot/tag">
  <ur-plot>
    <ur-form initial={ initial } submit="noop"></ur-form>
    <div id="tester" style="width:600px;height:250px;"></div>

    this.schema = [
      { name: 'product_types', type: 'select', required: false,
        choice_tuples: [
          ["",'All Products'],
          ["214","Course Enrollments"],
          ["215","Giftcards"],
          ["121","Shop Consumables"],
          //["133","Meberships"],
        ]
      },
      { name: 'time_period', type: 'select', required: false,
        choice_tuples: [
          [90,'Three Months'],
          [180,'Six Months'],
          [365,'One Year'],
          ['*','All of Time'],
        ]
      },
    ];
    this.initial = uR.getQueryDict();
    this.initial.time_period = this.initial.time_period || 90;
    this.on("mount",function() {
      this.update_plot();
    });
    update_plot() {
      uR.ajax({
        url: "/dashboard/totals.json"+window.location.search,
        success: function(data) {
          self.data = data;
          console.log(data);
          TESTER = document.getElementById('tester');
          Plotly.plot(
            TESTER, [
              { x: data.days, y: data.money, name: 'money'},
              { x: data.days, y: data.quantity, name: "quantity" }
            ],
            {
              margin: { l: 50, r: 20, b: 40, t: 20 },
              xaxis: {
                title: 'Date',
              },
              yaxis: {
                title: 'Money',
              }
            }
          );
        },
      });
    }
  </ur-plot>

</script>
<script>
  uR.ready(function() { riot.mount("ur-plot"); });
</script>
{% endblock %}
