<div id="content-main">
  {% csrf_token %}
  <div>
    <div class="well">
      <h3>Search Photos</h3>
    <photo-search></photo-search>
    </div>
    <h3>Add/Edit Photos</h3>
    <input type="text" name="name" placeholder="Files will be named NAME_1, NAME_2, etc." id="photos_name"/>
    <photo-list></photo-list>
  </div>
</div>

<link href="{{ STATIC_URL }}css/multi_photo_upload.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }}tags/photo-list.tag" type="riot/tag"></script>
<script src="https://cdn.jsdelivr.net/g/riot@2.0.14(riot.min.js+compiler.min.js)"></script>
<script>
  window._PHOTOS = {
    photos: {{ photos|safe }},
    content_type: "{{ content_type }}",
    object_id: {{ obj.pk }}
  }
</script>
<script src="{{ STATIC_URL }}js/multi_photo_upload.js"></script>
