{% extends "suit:admin/index.html" %}
{% load i18n admin_dashboard %}

{% block extrastyle %}
{{ block.super }}
<link href="{{ STATIC_URL }}suit/extra_suit.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% if request.path == "/admin/" %}
<div id="content-main">
  {% if request.user|is_event_coordinator %}{% include "admin/txrx/_room_conflicts.html" %}{% endif %}
  {% if request.user|is_course_manager %}{% include "admin/txrx/_courses_needed.html" %}{% endif %}
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}


{% block sidebar %}
{% if request.path == "/admin/" %}
<div id="content-related">
  {% include "admin/txrx/_flags.html" %}
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
