{% extends "suit:admin/index.html" %}
{% load i18n admin_dashboard compress %}

{% block content %}
{% if request.path == "/admin/" %}
<div id="content-main">
  {% if request.user|is_event_coordinator %}{% include "admin/txrx/_room_conflicts.html" %}{% endif %}
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}


{% block sidebar %}
{% if request.path == "/admin/" %}
<div id="content-related">
  {% get_overbooked_sessions %}
  {% if overbooked_sessions %}
  <h4 class="italic-title">{{ overbooked_sessions|length }} Overbooked Sessions</h4>
  {% for session in overbooked_sessions %}
  <div class="well">
    <a href="/admin/course/session/{{ session.pk }}/">{{ session }}</a>
    <br/>
    <b>Enrolled:</b> {{ session.total_students }}
    <br/>
    <b>Max:</b> {{ session.course.max_students }}
    {% if session.overbook %}<br/><b>Overbook:</b> {{ session.overbook }}{% endif %}
  </div>
  {% endfor %}
  {% endif %}
  {% get_pastdue_subscriptions %}
  <h4 class="italic-title">{{ pastdue_subscriptions.count }} Past Due Subscription(s)</h4>
  <div class="well">
    <a href="/admin/membership/subscription/">Description of Subscription</a> <b>Paid Until Date</b>
    <a href="/admin/user/user/" class="fa fa-user"></a> &lt;-- link to user
    <div>Paid membership for user <b>Paid Until Date</b> &lt;-- if exists</div>
  </div>
  {% for subscription in pastdue_subscriptions %}
  <div class="well">
    <a href="/admin/membership/subscription/{{ subscription.pk }}/">{{ subscription }}</a>
    <b>{{ subscription.paid_until }}</b>
    <a href="/admin/user/user/{{ subscription.user.pk }}/" class="fa fa-user"></a>
    {% for s in subscription.user.paid_subscriptions %}
    <div>{{ s }} <b>{{ s.paid_until }}</b></div>
    {% endfor %}
  </div>
  {% endfor %}
  <flag-list></flag-list>
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block extrajs %}
{{ block.super }}
{% compress js %}
<script src="{{ STATIC_URL }}unrest/unrest.js"></script>
<script src="{{ STATIC_URL }}js/admin_index.js"></script>
{% endcompress %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.6.7/riot+compiler.min.js"></script>
<script src="{{ STATIC_URL }}tags/admin.tag" type="riot/tag"></script>
<script src="{{ STATIC_URL }}tags/auth.tag" type="riot/tag"></script>
<script src="{{ STATIC_URL }}tags/input-fields.tag" type="riot/tag"></script>
<script src="{{ STATIC_URL }}unrest/modal.tag" type="riot/tag"></script>
{% compress css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/admin_index.less" />
{% endcompress %}
{% endblock %}
