{% extends "suit:admin/login.html" %}
{% load i18n admin_static suit_tags compress %}
{% load url from future %}
{% block content %}
<div id="content-main">
  <h1><i class="icon-lock icon-white"></i> {{ 'ADMIN_NAME'|suit_conf }}</h1>

  <login></login>
</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/init.js"></script>{#! TODO this is only here for cookies and I don't like it #}
<script src="{{ STATIC_URL }}js/jwt.js"></script>
<script src="{{ STATIC_URL }}js/admin_index.js"></script>
<script src="https://cdn.jsdelivr.net/g/riot@2.0.14(riot.min.js+compiler.min.js)"></script>
<script src="{{ STATIC_URL }}tags/admin.tag" type="riot/tag"></script>
<script src="{{ STATIC_URL }}tags/auth.tag" type="riot/tag"></script>
<script src="{{ STATIC_URL }}tags/input-fields.tag" type="riot/tag"></script>
{% compress css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/admin_index.less" />
{% endcompress %}
{% endblock %}
