{% extends "crafters/base.html" %}
{% load short_codes static thumbnail %}

{% block main-inner %}
<div class="white-bg">
  <h2>Course Documents</h2>
  <div class="half-flexy">
    <div class="column fixed-image">
      <a href="https://docs.google.com/document/d/1SNSig26asEb7QF5tgdQoedp5OqafxsqGw_3aiU5-MZo/edit?usp=sharing">
        <div class="img" style="background-image: url({% static "crafters/flood_recovery.png" %})"></div>
        <b>Harvey Quick Reference</b>
      </a>
    </div>
    <div class="column fixed-image">
      <a href="https://docs.google.com/document/d/1DB7qeLEXIPwuNhvYN0HBh87jgMpz5TTV-qpMpuWdVA0/edit?usp=sharing">
        <div class="img" style="background-image: url({% static "crafters/harvey_seminar_curriculum.png" %})"></div>
        <b>Detailed Harvey Recovery Guide</b>
      </a>
    </div>
    <div class="column fixed-image">
      <a href="https://drive.google.com/file/d/0BwBXk4vJz3BzZGRTeXVmQWN4RVE/view?usp=sharing">
        <div class="img" style="background-image: url({% static "crafters/documentacion.png" %})"></div>
        <b>DOCUMENTACI&Oacute;N FOTOGR&Aacute;FICA POR INUNDACI&Oacute;N</a>
      </b>
    </div>
    <div class="column fixed-image">
      <a href="https://docs.google.com/document/d/1f3aI_USzoiBMB43ERKvdkif7nR5nyRrPbjzxcMZUQws/edit?usp=sharing">
        <div class="img" style="background-image: url({% static "crafters/flood_cleanup.png" %})"></div>
        <b>Flood Damage Cleanup Tips</b>
      </a>
    </div>
    <div class="column fixed-image">
      <div class="img" style="background-image: url({% static "crafters/flier_pdf.png" %}"></div>
      <b>Seminar Flier</b>
      <a href="https://drive.google.com/file/d/0BwBXk4vJz3BzRGJSeno3eFZCQTNaMHU4c1R0QXo5LTNMdDY0/view?usp=sharing">
        Black and White</a>
      <a href="https://drive.google.com/file/d/0BwBXk4vJz3BzZkYwUDVVYi1JYmsyLVo3NWlJc0R6RXJKYnFz/view?usp=sharing">
        Color</a>
    </div>
    <div class="column fixed-image video">
      <a href="https://youtu.be/MB-BA33ayZ0">
        <div class="img" style="background-image: url(https://i.ytimg.com/vi/MB-BA33ayZ0/mqdefault.jpg)"></div>
        <b>Disaster Relief Seminar</b>
      </a>
    </div>
  </div>
  <!--
      <b class="lead">These workshops will cover</b>
      <ul>
        <li>Choosing a contractor - Discover how to find and compare contractors and services.</li>
        <li>Vetting a contractor - Get questions to ask a contractor in order to prtect yourself.</li>
        <li>Contracts and Payment - Navigating contracts is diffcult. Make sure you know as much as possible about payment, clauses, liability, and more.</li>
        <li>Red Flags - Find out what to look for to spot deals that may be too good to be true.</li>
      </ul>
      -->
</div>
<div class="white-bg">
  <div class="list">
    <h2>Resources</h2>
    <li>To sign up for volunteer assistance in cleaning out flood damage in your home, call:<br/>
      <a href="tel:844-965-1386">844-965-1386</a> Crisis Cleanup</li>
    <li><a href="http://www.HoustonRecovers.org">HoustonRecovers.org</a></li>
    <li><a href="http://harrisrecovery.org">Harris County</a></li>
    <li><a href="https://www.disasterassistance.gov/">FEMA</a></li>
  </div>
  <div class="list">
    <h2>More FEMA Information</h2>
    <li><a href="http://www.lonestarlegal.org/">Legal Assistance</a></li>
    <li><a href="http://www.redcross.org/get-help/disaster-relief-and-recovery-services/find-an-open-shelter">
        Shelters</a></li>
  </div>

  <div class="list">
    <h2>Immediate Assistance</h2>
    <li>Food, clothing, evacuation/transportation assistance, or other immediate assistance, please contact:</li>
    <li><a href="tel:1-866-438-4636">1-866-438-4636</a> The American Red Cross: or call toll free</li>
    <li><a href="tel:211">Call 211</a> United Way Hotline</li>
  </div>

  <div class="list">
    <h2>Other Helpful Resources</h2>
    <li><a href="https://apps.twc.state.tx.us/UBS/security/logon.do">Disaster Unemployment Assistance</a></li>
    <li><a href="tel:713-308-8580">713-308-8580</a> Locate your towed car</li>
    <li><a href="tel:1-866-901-3773">1-866-901-3773</a>
      Kidney Community Emergency Response coalition. Help find the nearest dialysis center</li>
  </div>

  <div class="list">
    <h2>Report Fraud</h2>
    <li><a href="tel:1-866-720-5721">1-866-720-5721</a> FEMA Disaster Fraud Hotline</li>
    <li><a href="tel:1-800-252-8011">1-800-252-8011</a> Texas Attorney General</li>
    <li>File a fraud complaint with the FTC <a href="https://www.ftccomplaintassistant.gov/#crnt&panel1-1">here</a>.</li>
    <!--<li><a href="https://www.bbb.org/houston/">Houston Better Business Bureau</a></li>
        <li><a href="https://www.angieslist.com/companylist/houston/contractor.htm">Angie&rsquo;s List contractors</a></li>
    <li><a href="https://www.fema.gov/hurricane-harvey-rumor-control">Hurricane Harvey rumor control</a></li>-->
  </div>
</div>

<div class="white-bg" id="seminars">
  <div class="half-flexy">
      <!--
	  <div class="list column">
	    <h2>Harvey Relief Seminar</h2>
      <p class="note">
        These one hour seminars will cover how to navigate the process of getting your house clean,
        dealing with insurance companies and FEMA, and dealing with contractors and some resources for DIY remodelers.
      </p>
      <li>Friday September 15, 7pm-8pm</li>
          <li>Saturday September 16, 11am-12pm</li>
      <li>Monday September 18, 10am-11am</li>
      <li>Friday September 22, 7pm-8pm</li>
      <li>Saturday September 23, 1pm-2pm</li>
      <li>Friday September 29, 7pm-8pm</li>
      <li>Friday October 6, 7pm-8pm</li>
    </div>

    <div class="list column">
      <h2>DIY Drywall and Trim</h2>
      <p class="note">This workshop will cover how to remove and replace drywall and insulation and how to finish drywall. How to  do  finish carpentry  like  trim  and molding will also be reviewed. Participants will learn tips on measuring and marking which is a necessary first step for this kind of task.</p>
      <li>Sunday September 24, 10:30 am - 1:30 pm</li>
      <li>Saturday September 30, 4-7 pm</li>
      <li>Sunday October 8, 12-3 pm</li>
    </div>-->
      <div class="list column">
	<h2>Dry Wall Part One</h2>
	<p class="note">This workshop will cover how to measure, mark, cut, and install drywall. We will also discuss tools needed and professional options.</p>
      <li>Saturday October 21, 12-3 pm</li>
      <li>Saturday November 4, 12-3 pm</li>
    </div>
    <div class="list column">
      <h2>Dry Wall Part Two</h2>
      <p class="note">This workshop will cover drywall finishing and trim. It will include taping and floating, installing corner bead and trim, and everything else leading up to painting.</p>
      <li>Saturday October 28, 12-3 pm</li>
      <li>Saturday November 11, 12-3 pm</li>
    </div>
  </div>

  <p class="note">
    <b>Location</b>
    <a href="https://maps.google.com/?q=TXRX Labs, Houston, TX"><br/>
      <img width="200" src="/static/crafters/logo.png" /><br/>
      <u>205 Roberts St.<br/> Houston TX, 77003</u>
    </a>
  </p>

  <div class="big-button">
    <a class="btn btn-primary" href="https://airtable.com/shrOWgN7Y1G6IqZuH">Register Here</a>
    <div class="note"> Note: Space is very limited and signing up does not guarentee enrollment. You will be sent a confirmation letter by email if your registration is approved.</div>
  </div>
  <hr/>
  <div class="big-button">
    <div class="note">Can't make it to any of these seminars? Join our newsletter to find out when we schedule more.</div>
    <a class="btn btn-primary" href="http://eepurl.com/c4eHkL">Join our Newsletter</a>
  </div>
</div>
<div class="bottom-donate">
  <p class="lead">
    If you can&rsquo;t make the event but want to contribute
    contact us at <a href="mailto:info@txrxlabs.org">info@txrxlabs.org</a> or make a selection below to support these
    efforts.
  </p>
  <money-widget hide_monthly="true" donate_text="Donate" description="Crafters for Good seminars donation">
  </money-widget>
  <div class="half-flexy">
    <!--<div class="column description">
        <p>As a further way to help Houstonians we will be holding workshops at TXRX Labs to help people understand the work that will need to be done to their homes to repair and also the costs associated. This will be a free service by Ronnie Devries and TXRX as a way to help the community rebuild.</p>
        
        <p>TXRX's Shop Manager Ronnie Devries is a certified jack of all trades master of all from his years of work prior to TXRX but also through his hard fought years building TXRX from the ground up.</p>
    </div>-->
    <div class="column">
      <a href="https://www.galleryfurniture.com/">
        {% thumbnail "https://txrxlabs.org/static/crafters/gf_logo.jpg" "600x600" as im %}
        <img src="{{ im.url }}">
        {% endthumbnail %}
      </a>
      <p>Seminars sponsored by Gallery Furniture</p>
    </div>
    <div class="column">
      {% thumbnail "https://txrxlabs.org/static/crafters/ronnie.jpg" "455x290" crop="center" as im %}
      <img src="{{ im.url }}"/>
      {% endthumbnail %}
      <p>Seminars created by TXRX Volunteer Coordinator Ronnie DeVries</p>
    </div>
  </div>
</div>
{% endblock %}
