{% extends "crafters/base.html" %}
{% load short_codes static thumbnail %}
{% block full_title %}{% endblock %}

{% block main-inner %}
<div class="half-flexy">
  <div class="column description">
    <p>As a further way to help Houstonians we will be holding workshops at TXRX Labs to help people understand the work that will need to be done to their homes to repair and also the costs associated. This will be a free service by Ronnie Devries and TXRX as a way to help the community rebuild.</p>

    <p>TXRX's Shop Manager Ronnie Devries is a certified jack of all trades master of all from his years of work prior to TXRX but also through his hard fought years building TXRX from the ground up.</p>
  </div>
  <div class="column">
    {% thumbnail "https://txrxlabs.org/static/crafters/ronnie.jpg" "600x600" as im %}
    <img src="{{ im.url }}"/>
    {% endthumbnail %}
  </div>
</div>
<div class="white-bg">
  <div class="row">
    <div class="col-sm-8">
      <b class="lead">These workshops will cover:</b>
      <ul>
        <li>Choosing a contractor - Discover how to find and compare contractors and services.</li>
        <li>Vetting a contractor - Get questions to ask a contractor in order to prtect yourself.</li>
        <li>Contracts and Payment - Navigating contracts is diffcult. Make sure you know as much as possible about payment, clauses, liability, and more.</li>
        <li>Red Flags - Find out what to look for to spot deals that may be too good to be true.</li>
      </ul>

      <b class="lead">Numbers and links to know</b>
      <ul>
        <li>FEMA Disaster Fraud Hotline: <a href="tel:1-866-720-5721">1-866-720-5721</a></li>
        <li>Texas Attorney General (for reporting fraud): <a href="1-800-252-8011">1-800-252-8011</a></li>
        <li>File a fraud complaint with the FTC <a href="https://www.ftccomplaintassistant.gov/#crnt&panel1-1">here</a>.</li>
        <li><a href="https://www.bbb.org/houston/">Houston Better Business Bureau</a></li>
        <li><a href="https://www.angieslist.com/companylist/houston/contractor.htm">Angie&rsquo;s List contractors</a></li>
        <li><a href="https://www.fema.gov/hurricane-harvey-rumor-control">Hurricane Harvey rumor control</a></li>
        <li><a href="https://docs.google.com/document/d/1HEBcT5V2TCk3eyz25OLidQXKcPXgPydGHhWUZHez2RQ/edit?usp=sharing">Flood Damage Cleanup Tips</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      {% thumbnail "https://txrxlabs.org/static/crafters/table.jpg" "600x600" as im %}
      <img src="{{ im.url }}">
      {% endthumbnail %}
    </div>
  </div>

  <h2><center>Seminar Schedule</center></h2>
  <p class="note">
    These one hour workshops will cover how to navigate the process of getting your house clean,
    dealing with insurance companies and FEMA, and dealing with contractors and some resources for DIY remodelers.
  </p>
  <p class="note">
    <b>Location:</b>
    <a href="https://maps.google.com/?q=TXRX Labs, Houston, TX"><br/>
      <img width="200" src="/static/crafters/logo.png" /><br/>
      <u>205 Roberts St.<br/> Houston TX, 77003</u>
    </a>
  </p>
  <table class="table table-striped" style="max-width: 500px; margin: 0 auto 40px;">
    <tr>
      <th></th>
      <th>Friday September 15</th>
    </tr>
    <tr>
      <th>7pm-8pm</th>
      <td>Harvey Relief Seminar</td>
    </tr>
  </table>
  <table class="table table-striped" style="max-width: 500px; margin: 0 auto 40px;">
    <tr>
      <th></th>
      <th>Saturday September 16</th>
    </tr>
    <tr>
      <th>11am-12pm</th>
      <td>Harvey Relief Seminar</td>
    </tr>
    <tr>
      <th>1pm-2pm</th>
      <td>Harvey Relief Seminar</td>
    </tr>
    <tr>
      <th>3pm-4pm</th>
      <td>Harvey Relief Seminar</td>
    </tr>
  </table>
  <table class="table table-striped" style="max-width: 500px; margin: 0 auto;">
    <tr>
      <th></th>
      <th>September 17, 2017</th>
    </tr>
    <tr>
      <th>11am-12pm</th>
      <td>Harvey Relief Seminar</td>
    </tr>
    <tr>
      <th>1pm-2pm</th>
      <td>Harvey Relief Seminar</td>
    </tr>
    <tr>
      <th>3pm-4pm</th>
      <td>Harvey Relief Seminar</td>
    </tr>
  </table>
  <div class="big-button">
    <a class="btn btn-primary" href="https://airtable.com/shrOWgN7Y1G6IqZuH">Register Here</a>
    <div class="note"> Note: Space is very limited and signing up does not guarentee enrollment. You will be sent a confirmation letter by email if your registration is approved.</div>
  </div>
</div>
<div class="bottom-donate">
  <p class="lead">
    If you can&rsquo;t make the event but want to contribute
    contact us at <a href="mailto:info@txrxlabs.org">info@txrxlabs.org</a> or make a selection below to support these
    efforts.
  </p>
  <money-widget hide_monthly="true" donate_text="Donate" description="Crafters for Good seminars donation">
  </money-widget>
  <div class="sponsor">
    <h2>Seminars sponsored by Gallery Furniture</h2>
    <a href="https://www.galleryfurniture.com/">
      {% thumbnail "https://txrxlabs.org/static/crafters/gf_logo.jpg" "600x600" as im %}
      <img src="{{ im.url }}">
      {% endthumbnail %}
    </a>
  </div>
</div>
{% endblock %}
