{% extends "crafters/base.html" %}
{% load short_codes static thumbnail %}

{% block main-inner %}
<div class="white-bg">
  <div class="half-flexy">
    <div class="column fixed-image">
      <div class="img" style="background-image: url({% static "crafters/flier_pdf.png" %}"></div>
      <b>Seminar Flier</b>
      <br/>
      <a href="https://drive.google.com/file/d/0BwBXk4vJz3BzRGJSeno3eFZCQTNaMHU4c1R0QXo5LTNMdDY0/view?usp=sharing">
        Black and White</a> |
      <a href="https://drive.google.com/file/d/0BwBXk4vJz3BzZkYwUDVVYi1JYmsyLVo3NWlJc0R6RXJKYnFz/view?usp=sharing">
        Color</a>
    </div>
    <div class="column fixed-image">
      <div class="img" style="background-image: url({% static "crafters/harvey_seminar_curriculum.png" %})"></div>
      <br/>
      <b><a href="https://docs.google.com/document/d/1DB7qeLEXIPwuNhvYN0HBh87jgMpz5TTV-qpMpuWdVA0/edit?usp=sharing">
          Flood Cleanup Cirriculum</a></b>
    </div>
    <div class="column fixed-image">
      <div class="img" style="background-image: url({% static "crafters/documentacion.png" %})"></div>
      <br/>
      <a href="https://drive.google.com/file/d/0BwBXk4vJz3BzZGRTeXVmQWN4RVE/view?usp=sharing">
        <b>DOCUMENTACI&Oacute;N FOTOGR&Aacute;FICA POR INUNDACI&Oacute;N</a></b>
    </div>
    <div class="column fixed-image">
      <div class="img" style="background-image: url({% static "crafters/documentacion.png" %})"></div>
      <br/>
      <a href="https://docs.google.com/document/d/1f3aI_USzoiBMB43ERKvdkif7nR5nyRrPbjzxcMZUQws/edit?usp=sharing">
        <b>Flood Damage Cleanup Tips</b></a>
    </div>
  </div>
  <!--
      <b class="lead">These workshops will cover:</b>
      <ul>
        <li>Choosing a contractor - Discover how to find and compare contractors and services.</li>
        <li>Vetting a contractor - Get questions to ask a contractor in order to prtect yourself.</li>
        <li>Contracts and Payment - Navigating contracts is diffcult. Make sure you know as much as possible about payment, clauses, liability, and more.</li>
        <li>Red Flags - Find out what to look for to spot deals that may be too good to be true.</li>
      </ul>
      -->

  <h2><center>Numbers and Resources</center></h2>
  <ul class="note listed">
    <li>FEMA Disaster Fraud Hotline: <a href="tel:1-866-720-5721">1-866-720-5721</a></li>
    <li>Texas Attorney General (for reporting fraud): <a href="1-800-252-8011">1-800-252-8011</a></li>
    <li>File a fraud complaint with the FTC <a href="https://www.ftccomplaintassistant.gov/#crnt&panel1-1">here</a>.</li>
    <!--<li><a href="https://www.bbb.org/houston/">Houston Better Business Bureau</a></li>
        <li><a href="https://www.angieslist.com/companylist/houston/contractor.htm">Angie&rsquo;s List contractors</a></li>
    <li><a href="https://www.fema.gov/hurricane-harvey-rumor-control">Hurricane Harvey rumor control</a></li>-->
  </ul>

  <h2><center>Harvey Relief Seminar</center></h2>
  <p class="note">
    These one hour seminars will cover how to navigate the process of getting your house clean,
    dealing with insurance companies and FEMA, and dealing with contractors and some resources for DIY remodelers.
  </p>
  <ul class="note listed">
    <li>Friday September 15, 7pm-8pm</li>
    <li>Saturday September 16, 11am-12pm</li>
    <li>Monday September 18, 10am-11am</li>
    <li>Friday September 22, 7pm-8pm</li>
    <li>Saturday September 23, 1pm-2pm</li>
  </ul>

  <h2><center>DIY Drywall and Trim Carpentry</center></h2>
  <p class="note">This workshop will cover how to remove and replace drywall and insulation and how to finish drywall. How to  do  finish carpentry  like  trim  and molding will also be reviewed. Participants will learn tips on measuring and marking which is a necessary first step for this kind of task.</p>
  <ul class="note listed">
    <li>Sunday September 24, 10:30 am - 1:30 pm</li>
  </ul>

  <p class="note">
    <b>Location:</b>
    <a href="https://maps.google.com/?q=TXRX Labs, Houston, TX"><br/>
      <img width="200" src="/static/crafters/logo.png" /><br/>
      <u>205 Roberts St.<br/> Houston TX, 77003</u>
    </a>
  </p>

  <div class="big-button">
    <a class="btn btn-primary" href="https://airtable.com/shrOWgN7Y1G6IqZuH">Register Here</a>
    <div class="note"> Note: Space is very limited and signing up does not guarentee enrollment. You will be sent a confirmation letter by email if your registration is approved.</div>
  </div>
  <hr/>
  <div class="big-button">
    <div class="note">Can't make it to any of these seminars? Join our newsletter to find out when we schedule more.</div>
    <a class="btn btn-primary" href="http://eepurl.com/c4eHkL">Join our Newsletter</a>
  </div>
</div>
<div class="bottom-donate">
  <p class="lead">
    If you can&rsquo;t make the event but want to contribute
    contact us at <a href="mailto:info@txrxlabs.org">info@txrxlabs.org</a> or make a selection below to support these
    efforts.
  </p>
  <money-widget hide_monthly="true" donate_text="Donate" description="Crafters for Good seminars donation">
  </money-widget>
  <div class="half-flexy">
    <!--<div class="column description">
        <p>As a further way to help Houstonians we will be holding workshops at TXRX Labs to help people understand the work that will need to be done to their homes to repair and also the costs associated. This will be a free service by Ronnie Devries and TXRX as a way to help the community rebuild.</p>
        
        <p>TXRX's Shop Manager Ronnie Devries is a certified jack of all trades master of all from his years of work prior to TXRX but also through his hard fought years building TXRX from the ground up.</p>
    </div>-->
    <div class="column">
      <a href="https://www.galleryfurniture.com/">
        {% thumbnail "https://txrxlabs.org/static/crafters/gf_logo.jpg" "600x600" as im %}
        <img src="{{ im.url }}">
        {% endthumbnail %}
      </a>
      <p>Seminars sponsored by Gallery Furniture</p>
    </div>
    <div class="column">
      {% thumbnail "https://txrxlabs.org/static/crafters/ronnie.jpg" "455x290" crop="center" as im %}
      <img src="{{ im.url }}"/>
      {% endthumbnail %}
      <p>This is our shop tech, Ronnie</p>
    </div>
  </div>
</div>
{% endblock %}
