.FeaturedThings {
  .thing {
    float: left;
    padding: 0 15px;
  }
  a {
    display: block;
    height: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
    .title {
      background: #222;
      background: rgba(32,32,32,0.8);
      bottom: -50px;
      color: white;
      left: 0;
      opacity: 0;
      padding: 3px 5px 3px;
      position: absolute;
      width: 100%;
      .author { font-size: 0.8em; }
    }
    &:hover {
      z-index: 1;
      .title { bottom: 0; opacity: 1; .transition(bottom 0.25s linear); }
    }
  }
 img {
    max-width: 100%;
  }
}

@media (max-width:599px) {
  #main { margin: 0; padding: 0; }
  .FeaturedThings .thing {
    width: 50%;
    padding: 0 10px;
    a { margin-bottom: 10px; }
  }
}
@media (min-width:600px) { .FeaturedThings .thing { width: 100/3%; } }
@media (min-width:990px) { .FeaturedThings .thing { width: 25%; } }

.recent_blogs {
  .blog_well { max-width: 320px; }
  img { height: auto; margin-bottom: 10px; max-width: 100%; }
  a {
    color: inherit;
    &:hover { text-decoration: none; }
  }
  .title {
    font-size: 18px;
    height: 3.9em;
    line-height: 1.3;
  }
}

@media (max-width:400px) {
  .recent_blogs {
    .blog_well {
      float: none;
      margin: 0 auto;
      width: 100%;
    }
  }
}