.slideshow {
  .active_slide {
    margin: 0 auto;
    img { height:auto; width: 100%; }
  }
  .slide-nav {
    margin: 5px -5px 0;
    min-height: 10px;
    position: relative;
    overflow: hidden;
    a {
      float: left;
      position: relative;
      width: 20%;
      img { height: auto; padding: 5px; width: 100%; }
    }
    .next, .prev {
      background: @well-bg;
      border: 1px solid @well-border;
      display: table-cell;
      height: 100%;
      position: absolute;
      vertical-align: center;
      width: 20px;
    }
    .next { right: 0; }
    .prev { left: 0; }
  }
}

.slideshow {
  .external {
    display: block;
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 1;    
  }
  .gfycat,.video { &:before { content: "\e072";} }
  .slide {
    position: relative;
    .external {
      font-size: 50px;
      height:50px;
      line-height:50px;
      margin: -25px 0 0 -25px;
      opacity: 0.75;
      text-shadow: 0 0 10px rgba(50,50,50,0.5);
      width: 50px;
      &:hover { opacity: 1; }
      &.youtube { background: url(/static/img/yt_med.png) no-repeat center; }
    }
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }
  .slide-nav {
    .external {
      font-size: 20px;
      height: 20px;
      line-height: 20px;
      margin: -10px 0 0 -10px;
      width: 20px;
      &.youtube { background: url(/static/img/yt_small.png) no-repeat center; }
    }
  }
}

.course-detail .slideshow {
  a { width: 25%; }
}