{% load i18n %}{% autoescape off %}
Welcome to {{ site_name }}. You are receiving this email because an account was automatically created for you when you signed up for a class or membership. You can use this account to login and verify what classes you have enrolled in. If you sign up for more classes, they will automatically be associated to this email (through your paypal account), so logging in is not necessary to sign up for more classes.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url "django.contrib.auth.views.password_reset_confirm" uidb64=uid token=token %}
{% endblock %}
{% trans "Your username has been automatically derived from your email address:" %} {{ user.username }}

{% trans "After you login you can change your username or choose an alternate email to associate with this account. You can also change your email preferences (for instance, you should receive a reminder the day before your class)." %}

{% trans "Thank you and we hope to see you soon!" %}

{{ site_name }}

{% endautoescape %}
