{% extends "base.html" %}
{% load thumbnail crop_util short_codes%}
{% load mptt_comments_tags %}

{% block header %}{% endblock %}
{% block title %}{{ thing }} by {{ thing.user }}{% endblock %}
{% block fb_title %}{{ thing }} by {{ thing.user }}{% endblock %}
{% block fb_description %}{{ thing.get_short_description|implosivo|escape }}{% endblock %}
{% block main %}
<div class="row">
  <div class="col-sm-8">
    <div class="thing_detail">
      {% include "widgets/thing_slideshow.html" with show_bigger=1 %}
    </div>
  </div>
  <div class="col-sm-4">
    <section class="thing_details">
      <h3 class="block_title">{{ thing }}</h3>
      <div class="author">
        by {{ thing.user }}
      </div>
      <div class="publish_dt"><small><b>{{ thing.publish_dt.date }}</b></small></div>
      <div class="description">
        {{ thing.description|public_explosivo }}
      </div>
      {% if thing.materials.all %}
      <p>
        <b>Material{{ thing.get_materials.all|pluralize:"s" }}:</b>
        {{ thing.materials.all|join:", " }}
      </p>
      {% endif %}
      {% if thing.get_tools %}
      <p>
        <b>Machine{{ thing.get_tools|pluralize:"s" }}:</b>
        {% for tool in thing.get_tools %}
	{{ tool }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% endif %}
      {% if thing.parent_link %}
      <p>
        <b>Reference:</b> <a href="{{ thing.parent_link }}">{{ thing.get_parent_text }}</a>
      </p>
      {% endif %}
      {% if thing.get_files %}
      <p>
        <b>File{{ thing.get_files|pluralize:"s" }}:</b><br />
        {% for file in thing.get_files %}
	<a href="{{ file.file.url }}" target="_blank">{{ file }}</a>{% if not forloop.last %}<br /> {% endif %}
        {% endfor %}
      </p>
      {% endif %}
      {% if thing.session %}
      <b>Course:</b> <a href="{{ thing.session.get_absolute_url }}">{{ thing.session.course }}</a>
      {% endif %}
      <h3>Like what you see? Please Share</h3>
      <p style="text-align: center; margin: 10px 0">
        <span class="st_facebook_large" displayText="Facebook"></span>
        <span class="st_twitter_large" displayText="Tweet" st_via="TXRXLabs"></span>
        <span class="st_pinterest_large" displayText="Pinterest"></span>
        <span class="st_googleplus_large" displayText="Google +"></span>
        <span class="st_reddit_large" displayText="Reddit"></span>
      </p>
    </section>
  </div>
</div>
<div class="col-xs-12">
  {% display_comment_toplevel_for thing %}
</div>
{% endblock %}
