{% extends "base.html" %}
{% load thumbnail crop_util %}

{% block title %}Recent Items{% endblock %}

{% block main %}
<h1 class="page_title">Items recently made at TXRX</h1>
<form class="filters">
{% include "widgets/filters.html" %}
{% if "material" in request.GET %}
<script>$("[name=material] [value={{ request.GET.material }}]").attr("selected","selected")</script>
{% endif %}
{% if "tool" in request.GET %}
<script>$("[name=tool] [value={{ request.GET.tool }}]").attr("selected","selected")</script>
{% endif %}
</form>
<div class="thing_index">
  <div class="things">
    {% for thing in paginator.current_list %}
    {# this should probably be merged with similar thing on home #}
    {% thumbnail thing.first_photo|get_override:"square_crop" "300x300" crop="center" as im %}
    <div class="thing thing{{ forloopcounter }} col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="{{ thing.get_absolute_url }}">
        <img src="{{ im.url }}" />
        <div class="hover">
          <div class="title">
            {{ thing.title }}
            <div class="author"> by {{ thing.user }}</div>
          </div>
        </div>
      </a>
    </div>
    {% endthumbnail %}
    {% endfor %}
  </div>
  {% include "_paginator.html" %}
</div>
{% endblock %}
