{% extends "base.html" %}

{% load thumbnail crop_util %}

{% block title %}{{ photoset }}{% endblock %}
{% block header_content %}{{ photoset }}{% endblock %}

{% block main %}
<section>
  {% for photo_row in photo_rows %}
  <div class="photorow">
    {% for photo in photo_row %}
    {% thumbnail photo.file "500x400" as large %}
    <div class="span4" id="photo_{{ photo.id }}" data-large="{{ large.url }}">
      <a href="#photo_{{ photo.id }}" onclick="checkHash(this.parentNode);">
        {% thumbnail photo|get_override:"landscape_crop" "300x250" as im %}
         <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
      </a>
    </div>
    {% endthumbnail %}
    {% endfor %}
    {% for photo in photo_row %}
    <div class="after" id="photo_{{ photo.id }}_after">
      <a href="{{ photo.file.url }}" class="link"></a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
<script type="text/javascript">
function checkHash(that) {
  $(".photorow .after").hide();
  var after = $("#"+that.id+"_after");
  after.show();
  
  if (!!after.find('.img').length) { return; }
  after.find(".link").append($("<img class='img' src='"+$(that).data('large')+"' />"));
}
$(document).ready(function() {
  var target = $(window.location.hash);
  if (!target.length) { return }
  checkHash(target[0]);
});
</script>
{% endblock %}
