{% extends "base.html" %}

{% load thumbnail crop_util %}

{% block title %}Photos{% endblock %}
{% block header_content %}TX/RX Photo Gallery{% endblock %}

{% block main %}
<section>
{% for photoset in photosets %}
<div class="span4 center">
  <div class="well">
    <a href="{{ photoset.get_absolute_url }}">
      <div style="height: 200px;">
        {% thumbnail photoset.first_photo|get_override:"landscape_crop" "260x200" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
      </div>
      <div>
        {{ photoset }} ({{ photoset.get_photos.count }}&nbsp;photos)
      </div>
    </a>
  </div>
</div>
{% endfor %}
{% endblock %}
