{% extends "base.html" %}

{% load short_codes txrx_tags %}

{% block title %}Latest {{ post_type }} by {{ username }}{% endblock %}
{% block header_content %}Latest {{ post_type }} by {{ username }}{% endblock %}

{% block extra_head %}
{#! this should be added back in. Removed 9/6/2014 <link rel="alternate" type="application/rss+xml" href="{% url "posts_feed" username %}" title="{{ settings.SITE_NAME }}: Posts by {{ username }}">#}
{% endblock %}


{% block content %}
<div id="post-list-page">
  <div class="BlogList row">
    {% include "_blog_list.html" %}
  </div>
</div>
{% endblock %}
