{% if paginator.has_next or paginator.has_previous %}
<center>
  <ul class="pagination">
    <li{% if not paginator.has_previous %} class="disabled"{% endif %}>
      <a href="?{{ paginator.previous_qs }}">&laquo;</a></li>
    {% for num in paginator.page_range %}
    <li{% if num == paginator.number %} class="active"{% endif %}>
      <a href="?page={{ num }}">{{ num }}</a></li>
    {% endfor %}
    <li{% if not paginator.has_next %} class="disabled"{% endif %}>
      <a href="?{{ paginator.next_qs }}">&raquo;</a></li>
  </ul>
</center>
{% endif %}
