{% load css %}
{% for c in colors %}
.{{ c.class }}-theme a { color: #{{ c.color }}; }
.{{ c.class }}-theme { background: url(circuit-bg.png) #{{ c.color|mult:.2 }}; }
.{{ c.class }}-theme {
    background-color: #{{ c.color|mult:.8 }};
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.{{ c.class }}-wrapper {
    border: 2px solid #{{ c.color }};
    box-shadow: 0 0 20px #{{ c.color }};}
.{{ c.class }}-wrapper .feed > li, .{{ c.class }}-wrapper .outlined {
    border: 1px #{{ c.color }} solid;
    box-shadow: 2px 2px 10px #{{ c.color }};}
#nav .{{ c.class }} .after {
    background: #{{ c.color }};
    box-shadow: 0 0 20px #{{ c.color }};
}

.{{ c.class }}-wrapper #nav .text {
    .border: #{{ c.color }} 1px solid;
    .box-shadow: inset 0 0 5px #{{ c.color }};
}
{% endfor %}