{% load compress %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block full_title %}{% block title %}{% endblock %} - {{ SITE_NAME }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block extra_head %}{% endblock %}
    {% include "_styles.html" %}
    <script type="text/javascript">
      {% if settings.DEBUG %}
      var _NOTIFY_URL = "http://dev.txrxlabs.org:8009/tx/rx/ipn/handler/"
      {% else %}
      var _NOTIFY_URL = "http://txrxlabs.org/tx/rx/ipn/handler/"
      {% endif %}
      var _USER_NUMBER = "{{ request.user.pk }}";
    </script>
    
    <link rel="shortcut icon" href="/favicon.ico" />
    {% compress js %}
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/init.js"></script>
    <script src="{{ STATIC_URL }}lightbox/js/lightbox-2.6.min.js"></script>
    <script src="{{ STATIC_URL }}js/jsi18n.js"></script>
    <script src="{{ STATIC_URL }}mptt_comments/js/mptt_comments.js"></script>
    <script src="{{ STATIC_URL }}js/favico.js"></script>
    {% endcompress %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" />
    <script>
      var f = new Favico({
        animation : 'popFade'
      });
      f.badge({{ pending_evaluations.count }});
    </script>
    {% block head %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block analytics %}{{ ANALYTICS_CODE|safe }}{% endblock %}
  </head>
  <body>
    {% block nav %}{% include "_nav.html" with page="home" %}{% endblock %}
    <div id="wrap">
      {% block messages %}{% include "_messages.html" %}{% endblock %}

      <div class="row" id="main">
        {% block main %}
        <div class="col-sm-8 col-md-9">
          {% block header %}
          <h1 class="page_title">{% block header_content %}{{ SITE_TAGLINE }}{% endblock %}</h1>
          {% endblock %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-sm-4 col-md-3" id="side">
          {% block side %}{% include "_side.html" %}{% endblock %}
        </div>
        {% endblock %}
      </div>

      {% block footer %}
      <footer>
        {% include "footer.html" %}
      </footer>
      {% endblock %}
    </div>
    {% compress js %}
    <script src="{{ STATIC_URL }}less/bootstrap/js/affix.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/button.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/collapse.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/modal.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/scrollspy.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/transition.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/alert.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/carousel.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/dropdown.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/tooltip.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/popover.js"></script>
    <script src="{{ STATIC_URL }}less/bootstrap/js/tab.js"></script>
    {% endcompress %}    
    <script src="{{ STATIC_URL }}codrspace.js"></script>
    <script>

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39204768-1']);
      _gaq.push(['_setDomainName','txrxlabs.org']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% block extra_body %}
    {% endblock %}
    <div id="bot_right">
      {% if request.theme == "dark" %}
      <a href="?set_theme=default">Who turned out the Lights?</a>
      {% else %}
      <a href="?set_theme=dark">The Darkness Calls</a>
      {% endif %}
    </div>
  </body>
</html>
