{% extends parent %}
{% load codrspace_tags short_codes %}
{% load thumbnail crop_util %}
{% load cache %}
{% load url from future %}

{% block full_title %}Welcome to TX/RX Labs{% endblock %}
{% block header_content %}TX/RX Labs - Houston's Hackerspace{% endblock %}

{% block content %}
{% cache settings.SHORT_CACHE blog_home %}
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    {% for post in featured_posts %}
    {% thumbnail post.photo|get_override:"landscape_crop" "620x375" crop="center" as im %}
    <div class="item{% if forloop.first %} active{% endif %}">
      <a href="{{ post.get_absolute_url }}">
        <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" />
        <div class="carousel-caption">
          <h4>{{ post.title }}</h4>
          <p>{{ post.content|striptags|truncatewords:30 }}</p>
        </div>
      </a>
    </div>
    {% endthumbnail %}
    {% endfor %}
  </div>
  {% if featured_posts|length > 1 %}
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  {% endif %}
</div>
{% for post in posts %}
{% include "_post_content.html" with truncate_posts="True" %}
{% endfor %}
{% endcache %}
{% endblock %}
