{% extends "base.html" %}
{% load codrspace_tags short_codes %}
{% load thumbnail crop_util %}
{% load url from future %}

{% block full_title %}Welcome to TX/RX Labs{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="FeaturedThings row">
  <h3 class="block_title">Featured Projects</h3>
  {% for thing in things %}
  {% thumbnail thing.first_photo|get_override:"square_crop" "300x300" crop="center" as im %}
  <div class="thing thing{{ forloop.counter }}">
    <a href="{{ thing.get_absolute_url }}">
      <img src="{{ im.url }}" />
      <div class="title">
        {{ thing.title }}
        <div class="author"> by {{ thing.user }}</div>
      </div>
    </a>
  </div>
  {% endthumbnail %}
  {% endfor %}
</div>
<div class="recent_blogs row">
  <h3 class="block_title">Recent Blogs</h3>
  {% for post in posts %}
  {% thumbnail post.photo|get_override:"square_crop" "300x300" crop="center" as im %}
  <div class="post col-xs-4">
    <a href="{{ post.get_absolute_url }}">
      <img src="{{ im.url }}" />
      <div class="title">{{ post }}</div>
      <div class="date">{{ post.publish_dt|date:"F j, Y" }}</div>
    </a>
  </div>
  {% endthumbnail %}
  {% endfor %}
</div>
{% endblock %}
