{% extends "auth_base.html" %}

{% block title %}{% if post %}Edit{% else %}Add{% endif %} Post - {% firstof post.title "Untitled" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wmd.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}anytimec.css">
{% endblock %}

{% block content %}
{% include "_form_messages.html" with form=form %}
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-vertical">
    {% if post %}
    <p><a href="{% url post_detail user.username post.slug %}" target="_new">View this post <i class="icon-arrow-right"></i></a></p>
    {% endif %}
    {% for field in form %}
    <div id="{{ field.field.name }}">
      <label for="id_{{ field.field.name }}">
        {{ field.label }}
        {% if field.help_text %}<span class="muted help-text">{{ field.help_text|safe }}</span>{% endif %}
      </label>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  <input class="btn btn-success btn-large" type="submit" name="submit_post" value="Save changes" />
  {% if posts %}
  <div class="page-header">
    <h2>Other posts</h2>
  </div>
  {% include "_partial-post-list.html" with current_post=post %}
  {% endif %}
</form>
<div class="modal" id="preview-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Preview</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
  </div>
</div>
{% endblock %}

{% block side %}
{% include "_blog_side.html" %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-modal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}wmd/wmd.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.insertat.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.hotkeys.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}anytimec.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}codrspace_admin.js"></script>
{% endblock %}
