<div class="header">
  <a href="/">
    <img src="/static/bw-logo.png" />
  </a>
  <div class="nav" id="nav">{% for n in nav %}<a href="/{{ n|slugify }}" class="{{ n|slugify}}{% if n == current %} current{% endif %}{% if forloop.last %} no-border {% endif %}">{{ n|upper }}</a>{% endfor %}</div>
  <div class="auth">
    {% if user.is_authenticated %}
    <a href="javascript:;" onclick="$('.auth').toggleClass('active');return false;">
      {{ user.username }}
      <div class="gear"></div>
    </a>
    <a href="/logout?next={{ request.path }}">logout</a>
    {% if user.is_staff %}<a href="/admin/">admin</a>{% endif %}
    {#<a href="#" onclick="$.modal('<iframe src=\'/survey/\' width=\'700\' height=\'550\' style=\'border: 0; overflow: hidden;\'>'); return false;">Survey</a>#}
    {% else %}
    <a href="/login" onclick="showLogin(); return false;">login/register</a>
    {% endif %}
  </div>
  <div id="login-dialog" class="login">
    {% with form=auth_form %}{% include "widgets/login-form.html" %}{% endwith %}
    {% if not request.user.is_authenticated %}
    <div>
      <a class="blue" href="/accounts/register/">Register</a>
    </div>
    {% endif %}
  </div>
</div>
