{% block main %}
<div class="span8">
  {% block content %}{% endblock %}
</div>
<div class="span4">
  {% block side %}{% include "_side.html" %}{% endblock %}
</div>
{% endblock %}
<script type="text/javascript">
  var header_html = "{% block header_content %}{{ SITE_TAGLINE }}{% endblock %}";
  if (!!header_html) { $(".home-tagline").html(header_html) }
  var page_title = "{% block full_title %}{% block title %}{% endblock %} - {{ SITE_NAME }}{% endblock %}";
  if (!!page_title) { document.title = page_title; }
</script>
