{% extends "base.html" %}

{% load short_codes codrspace_tags txrx_tags %}

{% block title %}Latest {{ post_type }} by {{ username }}{% endblock %}
{% block header_content %}Latest {{ post_type }} by {{ username }}{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" href="{% url posts_feed username %}" title="TX/RX Labs: Posts by {{ username }}">
{% endblock %}


{% block content %}
<div id="post-list-page">
  <div class="BlogList row">
    {% include "_blog_list.html" %}
  </div>
</div>
<div id="popover-content">
  <div id="popover-wrap">
    <a href="{{ meta.html_url }}"><img class="user-detail-image" src="{{ meta.avatar_url }}" alt="GitHub &ndash; {{ meta.login }}"/></a>
    <p>{% firstof user_settings.name meta.name meta.login %}</p>
    {% if meta.location %}
    <p>{{ meta.location }}</p>
    {% endif %}
    <p>{% filter striptags|truncatewords:15 %}{% firstof user_settings.bio meta.bio %}{% endfilter %}</p>
  </div>
  <div class="clear"><!-- ie --></div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-popover.js"></script>
<script type="text/javascript">
  $('a[rel=popover]').popover({
  content: $('#popover-content').html()
  });
</script>
{% endblock %}

{% block footer %}{% endblock %}
