{% extends "base.html" %}
{% load short_codes mptt_comments_tags %}

{% block title %}{% firstof post.title "Untitled" %} by {{ post.user.username }}{% endblock %}

{% block nav %}
{% include "_nav.html" with page="post_detail" %}
{% endblock %}

{% block header %}{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/pygments.css">{% endblock %}

{% block content %}
<div id="post-detail-page">
  <i class="icon-arrow-left"></i> <a href="{% url "post_list" post.user.username %}">Latest posts by {{ post.user.username }}</a>
  {% if post.status != "deleted" %}
  {% include "_post_content.html" with post=post %}
  {% endif %}
  {% display_comment_toplevel_for post %}
</div>
{% endblock %}

{% block footer %}{% endblock %}
