{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<ol class="labs">{% for lab in labs %}
  <li id="{{ lab.slug }}"{% if lab == current_lab %} class="current"{% endif %}>
    <a href="/tools/{{ lab.slug }}/"
       onclick="setClass('{{ lab.slug }}','current');return false;">
      <img src="{{ lab|thumbnail:"100x100" }}" width="100" height="100" alt="{{ lab.title }}" />
      <div>{{ lab.title }}</div>
    </a>
    <div class="tools">
      <section class="slides pointer">
	<div style="width: {{ lab.wrapper_width }}px; height:{{ lab.height }}px"
	     class="wrapper" data-slide-width="{{ lab.width }}">
	  {% for tool in lab.tools %}
	  {% include "widgets/tool.html" %}
	  {% endfor %}
	</div>
      </section>
      <section class="thumbnails pointer">{% for tool in lab.tools %}
	<a href="javascript:slideTo($('#{{ lab.slug }} .wrapper')[0],{{ forloop.counter0 }});">
	  <img src="{{ tool|thumbnail:"120x90" }}" />
	</a>{% endfor %}
      </section>
    </div>
  </li>{% endfor %}
</ol>
<script type="text/javascript">
labVideos = { {% for l in labs %}{% for t in l.tools %}{% for v in t.toolvideo_set.all %}
    "{{ v.id }}": '{{ v.embed_code|safe }}',{% endfor %}{% endfor %}{% endfor %}
    "django_ate_my_baby": ""
}
function modalContent(e,content) {
  var modal = $(e).closest(".modal");
  modal.find(".content").hide();
  modal.find(".pseudo-window").show().children('div').html(content);
}
</script>
{% endblock %}

{% block extrafooter %}
<script type="text/javascript">
function slideTo(element, i) {
  var e = element;
  if (i>=element.children.length) {i=0}
  if (i<0) {i = $(element).children().length-1 }
  $(element).data({"slide-index":i});
  if (element.timer) { slideTimeOut(element); }
  element.style.left = (i*-$(element).data("slide-width"))+"px";
}

function slideNext(e) { slideTo(e,$(e).data("slide-index")*1+1); }
function slidePrev(e) { slideTo(e,$(e).data("slide-index")*1-1); }
function slideTimeOut(e) {
    clearTimeout(e.timer);
    e.timer = setTimeout(function(){slideNext(e)},$(e).data("slide-time")*1);
}

function slideInit(element) {
    $(element).data({"slide-index":0});
    // needs to clone first element and append to end in order to allow for seemless swiping
    if ($(element).data("slide-time")) {
        slideTimeOut(element);
    }
    window.test = function(){slideNext(element);};
}

function setClass(id,clss) {
  $("#"+id).addClass(clss).siblings().removeClass(clss);
}
</script>
<script type="text/javascript">
$(".slides .wrapper").eq(0).each(function(){slideInit(this);});
</script>
{% endblock %}
