{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_dashboard %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <div id="content-main">
    {% get_room_conflicts %}
    {% if room_conflicts %}
    <h1>Potential room conflicts</h1>
    {% for location,conflicts in room_conflicts %}
    <div class="module">
      <table class="table-overview applist" summary="{% blocktrans %}Conflicting classes and events.{% endblocktrans %}">
        <caption>Conflict at {{ location.name }}</caption>
        <tr><td>
            <dl>
              {% for times,events in conflicts %}
              <dt>{{ times.0.date }} ({{ times.0|date:"G:i" }} - {{ times.1|date:"G:i" }})</dt>
              <dd>
                <ul class="actionlist">
                  {% for event in events %}
                  <li> 
                    <a href="{{ event.get_absolute_url }}">
                      <i class="icon-share" title="View on Site"></i></a>
                    <a href="{{ event.get_admin_url }}">
                      <i class="icon-edit" title="Edit Event in Admin"></i></a>
                    {% if event.session %}
                    <a href="{{ event.session.section.get_admin_url }}">
                      <i class="icon-pencil" title="Edit Section in Admin"></i></a>
                    {% endif %}
                    {{ event.short_name }}
                  </li>
                  {% endfor %}
                </ul>
              </dd>
              {% if not forloop.last %}<br />{% endif %}
              {% endfor %}
            </dl>
        </td></tr>
      </table>
    </div>
    {% endfor %}
    {% endif %}
    {% comment %}
    {% if app_list %}
      {% for app in app_list %}
        <div class="module">
          <table class="table-overview applist" summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
            <caption><a href="{{ app.app_url }}" class="section">{% trans app.name %}</a></caption>
            {% for model in app.models %}
              <tr>
                <th scope="row">{{ model.name }}</th>
                {% if model.admin_url %}
                  <td>
                    <a href="{{ model.admin_url }}" class="changelink icon">{% trans 'Change' %}</a>
                  </td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}

                {% if model.add_url %}
                  <td><a href="{{ model.add_url }}" class="addlink icon"><i
                          class="icon-plus-sign icon-alpha75"></i>{% trans 'Add' %}
                  </a></td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
    {% endcomment %}
  </div>
{% endblock %}


{% block sidebar %}
  <div id="content-related">
    <div class="module" id="recent-actions-module">
      <h4 class="italic-title">{% trans 'My Actions' %}</h4>

      {% load log %}
      {% get_admin_log 10 as admin_log for_user user %}
      {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
      {% else %}
        <ul class="actionlist">
          {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}text-error{% endif %}">

              <i class="{% if entry.is_addition %}icon-plus{% endif %}{% if entry.is_change %}icon-pencil{% endif %}{% if entry.is_deletion %}icon-trash{% endif %} icon-alpha5"></i>

              {% spaceless %}
                {% if entry.is_addition %}{% trans 'added'|capfirst %}{% endif %}
                {% if entry.is_change %}{% trans 'changed'|capfirst %}{% endif %}
                {% if entry.is_deletion %}{% trans 'deleted'|capfirst %}{% endif %}

                {% if entry.content_type %}
                  <span class="mini quiet">{% filter capfirst %}
                    {% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                  <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
              {% endspaceless %}&nbsp;

              {% if entry.is_deletion or not entry.get_admin_url %}
                <span class="color-grey">{{ entry.object_repr }}</span>
              {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
