django==1.7
# PIL==1.1.7 #install me with apt-get!
simplejson==2.1.2
django-devserver
-e https://github.com/chriscauley/django-registration.git#egg=django-registration
-e git+https://github.com/dcramer/django-paypal.git#egg=django-paypal
django_compressor==1.3
django-localflavor
BeautifulSoup==3.2.1
psycopg2

#image stuff
-e git+https://github.com/chriscauley/sorl-thumbnail.git#egg=sorl-thumbnail
-e git+https://github.com/chriscauley/Django-Crop-Override-Field.git#egg=django-crop-override-field
pillow==2.1.0

django-mptt==0.5.4
-e git+https://github.com/chriscauley/django-mptt-comments.git#egg=django-mptt-comments

django-redis-cache
Markdown==2.0.3
django-timezones==0.2
pytz>=2011n
Pygments
requests
-e git://github.com/durden/frappy.git#egg=frappy

django-tagging
-e git+https://github.com/alekam/django-tagging-autocomplete.git#egg=django-tagging-autocomplete
-e git://github.com/marcuswhybrow/django-wmd-editor.git#egg=django_wmd_editor

django-next-please
icalendar
python-social-auth
