django==1.4
south==0.7.6
# PIL==1.1.7 #install me with apt-get!
django-grappelli
simplejson==2.1.2
sorl-thumbnail==11.12
django-devserver==0.4
django-registration==0.8
-e git+https://github.com/chriscauley/Django-Crop-Override-Field.git#egg=django-crop-override-field
-e git+https://github.com/dcramer/django-paypal.git#egg=django-paypal
django-password-reset
django_compressor==1.2
BeautifulSoup==3.2.1

django-mptt==0.5.4
-e git+https://github.com/liberation/django-mptt-comments.git#egg=django-mptt-comments

django-redis-cache
Markdown==2.0.3
django-timezones==0.2
pytz>=2011n
Pygments
requests
-e git://github.com/durden/frappy.git#egg=frappy

django-tagging
-e git+https://github.com/alekam/django-tagging-autocomplete.git#egg=django-tagging-autocomplete
-e git://github.com/marcuswhybrow/django-wmd-editor.git#egg=django_wmd_editor
-e git+git://github.com/jacobian/django-pjax.git#egg=django-pjax

django-next-please
icalendar
