{% extends "drop:drop/checkout/thank_you.html" %}
{% load store_tags %}

{% block header %}{% endblock %}

{% block content %}
{{ block.super }}
{% for ptype,items in order|group_order_items_by_model %}
<p class="lead">
  {% if ptype == "coursecheckout" %}
  Please email <a href="mailto:membership@txrxlabs.org">membership@txrxlabs.org</a> to schedule your course checkout{{ items|pluralize }}.
  {% elif ptype == "consumable"%}
  Please contact the staff to get the {{ items|length }} consumable{{ items|pluralize }} purchased.
  {% endif %}
</p>
{% endfor %}

<!-- Google Code for class purchase Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
var google_conversion_id = 1019454159;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "PQZ4CKnnkXEQz8WO5gM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1019454159/?label=PQZ4CKnnkXEQz8WO5gM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
{% endblock %}
