<div class="add_to_calendar">
  <div class="inner">
    <h3>Subscribe to calendar:</h3>
    <div class="row">
      {% for protocol in calendar_protocols %}
      <div class="col-sm-6">
        <div class="header">
          {% if forloop.first %}
          <img alt="Google Icon" src="{{ STATIC_URL }}event/icons/google.png"/>
          Google Calendar
          {% else %}
          <img alt="Outlook Icon" src="{{ STATIC_URL }}event/icons/outlook.png"/>
          <img alt="Apple iCal Icon" src="{{ STATIC_URL }}event/icons/ical.png"/>
          <b>Anything Else</b>
          {% endif %}
        </div>
        {% if calendar_context == "classes" %}
        <ul>
          {% if calendar_event %}
          <li><a href="{{ protocol }}{{ calendar_event.get_ics_url }}" target="_blank">
              This class only</a></li>
          {% endif %}
          {% if my_classes_ics %}
          <li><a href="{{ protocol }}{{ my_classes_ics }}" target="_blank">
              "My Classes" Calendar</a></li>
          {% endif %}
          <li><a href="{{ protocol }}{{ all_classes_ics }}" target="_blank">
              TXRX Classes Calendar</a></li>
        </ul>
        {% else %}
        <ul>
          {% if calendar_event %}
          <li><a href="{{ protocol }}{{ calendar_event.get_ics_url }}" target="_blank">
              This event only</a></li>
          {% endif %}
          {% if calendar_event.event %}
          <li><a href="{{ protocol }}{{ calendar_event.event.get_ics_url }}" target="_blank">
              All "{{ calendar_event.short_name }}" events</a></li>
          {% endif %}
          <li><a href="{{ protocol }}{{ all_ics }}" target="_blank">
              TXRX Events Calendar
          </a></li>
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <hr />
    <center>
      <button class="btn btn-danger" onclick="$(this).closest('.add_to_calendar').hide()">Cancel</button>
    </center>
  </div>
  <div class="fixed_overlay" onclick="$(this).parent().hide();"></div>
</div>
