<script type="text/javascript" src="{{ STATIC_URL }}js/simpleCart.js"></script>
<script type="text/javascript">
simpleCart.email = "{{ settings.PAYPAL_RECEIVER_EMAIL }}";</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cart.js"></script>
<div id="cart">
  <h3 class="block_title">Shopping Cart</h3>
  <div class="well">
    <div id="cartEmpty">Your cart is empty</div>
    <div class="simpleCart_items"></div>
    <div class="checkout-box">
      Total: <span class="simpleCart_finalTotal"></span>
    </div>
    <div style="text-align: center;">
      <a href="javascript:;"
         onclick="createCookie('checkout_initiated','yes!',10);simpleCart.checkout(); return false">
        <img src="{{ STATIC_URL }}img/paypal.png"></a>
    </div>
  </div>
</div>
<div class="visible-xs hidden-sm hidden-md hidden-lg">
  <div id="mobileCart"><a href="#cart">View Cart</a></div>
</div>
{% comment %}
<div class="well accordion" id="cart">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-parent="#cart"
         data-toggle="collapse" href="#cart-contents">Shopping Cart</a>
    </div>
    <div id="cart-contents" class="accordion-body collapse in">
      <div class="accordion-inner">
      </div>
    </div>
  </div>
  {% if not small_cart %}
  {% for group,content in class_faqs %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-parent="#cart"
         data-toggle="collapse" href="#class_faqs{{ forloop.counter }}">{{ group }}</a>
    </div>
    <div id="class_faqs{{ forloop.counter }}" class="accordion-body collapse">
      <div class="accordion-inner">
        {{ content|safe }}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endcomment %}
<script type="text/javascript">
function createCookie(name,value,days) {
  if (days) {
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
  }
  else var expires = "";
  document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for(var i=0;i < ca.length;i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
  }
  return null;
}

function eraseCookie(name) {
  createCookie(name,"",-1);
}
function simple_cart_ready() {
  {% if "success" in request.GET %}simpleCart.empty();{% endif %}
  if (!!readCookie("checkout_initiated")) {simpleCart.empty(); eraseCookie("checkout_initiated");}
  toggleCourses();
};
simpleCart.ready(simple_cart_ready)
$(".itemRemove a").live("click",toggleCourses);
</script>
