{% load txrx_tags thumbnail crop_util %}
{% verbatim %}
<div class="row" ng-repeat="_courses in [scheduled_courses,unscheduled_courses]" ng-cloak>
  <div class="col-xs-12 course_divider" ng-if="_courses.length && _courses[0].next_time == 0">
    <h2>Classes not Scheduled</h2>
    <p class="alert alert-warning">
      The classes below are not currently scheduled but are classes taught at TXRX. Click the "Email me the next time this class is scheduled" button on the class page to be notified when a new session is posted.
    </p>
  </div>
  <div ng-repeat="course in _courses">
    <a href="{{ course.url }}" class="course well {{ course.well_class }}" id="c{{ course.id }}">
      <div class="picture">
        <img ng-src="{{ course.im.url }}" width="{{ course.im.width }}"
             height="{{ course.im.height }}" />
        <div class="enrolled-status" data-status="{{ course.enrolled_status }}"></div>
      </div>
      <div class="details">
        <div class="subjects"><span ng-repeat="subject in course.subject_names">
            {{ subject }}</span></div>
        <div class="title">{{ course.name }}</div>
        <div class="description">{{ course.short_description }}</div>
        <div class="sessions" ng-if="course.active_sessions.length > 0">
          <span class="next_session" ng-if="course.open_sessions">
            {{ course.open_sessions.0.short_dates }}</span>
          <span class="open_sessions" ng-if="course.open_sessions.length == 2">
            + 1 Open Session</span>
          <span class="open_sessions" ng-if="course.open_sessions.length > 2">
            + {{ course.open_sessions.length - 1 }} Open Sessions</span>
          <span class="full_sessions" ng-if="course.full_sessions.length > 0">
            <span ng-if="course.open_sessions">+</span> {{ course.full_sessions.length }}
            Full Session<span ng-if="course.full_sessions.length >1">s</span></span>
        </div>
        <div class="enrolled-status" data-status="{{ course.enrolled_status }}"></div>
      </div>
      <div class="price" ng-if="course.fee > 0">${{ course.fee }}</div>
      <div class="price" ng-if="course.fee == 0">FREE</div>
    </a>
  </div>
</div>
{% endverbatim %}
