<ul>
  {% for session in instructor_sessions %}
  {% ifchanged session.past %} {% if session.past %}
  <li><h3 class="block_title margin-top">Past Courses</h3></li>
  {% endif %}{% endifchanged %}
  <li>
    {% if not session.active %}<b style="color: red;">[INACTIVE]</b>{% endif %}
    <a href="{% url "course:instructor_session" session.pk %}"> {{ session.course }}</a>
    ({{ session.get_short_dates }} - {{ session.first_date.year }})
    <p>
      {% if session.past %}
      {{ session.evaluated_students }}/{{ session.total_students }} students evaluated
      <br />
      {{ session.completed_students }}/{{ session.total_students }} students marked completed
      {% else %}
      {{ session.total_students }}/{{ session.course.max_students }} students
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
