{% if request.user.is_authenticated %}
<section class="events_box">
  <h3 class="block_title">My Classes</h3>
  <ul class="list-unstyled">
    {% for session in user_sessions %}
    <li>
      <a href="{{ session.get_absolute_url }}"> {{ session.section.course }}</a> ({{ session.first_date|date:"F j" }})
    </li>
    {% endfor %}
  </ul>
  <div class="alert alert-danger">
    After you pay for a class it should appear here. If it does not, please email
    <a href="mailto:txrxlabs@gmail.com">txrxlabs@gmail.com</a>.
  </div>
</section>
{% endif %}
