<section class="events_box">
  <div class="alert alert-danger">
    After you pay for a class it should appear here. If it does not, please email
    us at <a href="mailto:info@txrxlabs.org">info@txrxlabs.org</a> and we'll look into it.
  </div>
  {% if not user_sessions.0.past %}
  <h3 class="block_title">{{ future_sessions }} Upcoming Class{{ future_sessions|pluralize:"es" }}</h3>
  {% endif %}
  <ul class="list-unstyled">
    {% for session in user_sessions %}
    {% ifchanged session.past %} {% if session.past %}
  </ul>
  {% if not forloop.first %}
  <p class="alert alert-danger">{% include "course/_return_policy.html" with format="html" %}</p>
  {% endif %}
  <ul class="list-unstyled">
    <li><h3 class="block_title margin-top">{{ past_sessions }} Past Class{{ past_sessions|pluralize:"es" }}</h3></li>
    {% endif %}{% endifchanged %}
    <li>
      <a href="{{ session.get_absolute_url }}"> {{ session.course }}</a> ({{ session.get_short_dates }} - {{ session.first_date.year }})
    </li>
    {% endfor %}
  </ul>
</section>
