If you can't make a class please {% if format == "html" %}<a href="https://txrxlabs.org/contact/?slug=cancel_class">request a cancellation</a>{% else %}use the link below to request a cancellation{% endif %}. Cancellations and rescheduling requests must be made at least weeks prior to the class. Cancellations submitted less than one week before the class will only be refunded if we can fill your slot. Refunds are subject to a $10 administrative fee.{% if format != "html" %}

https://txrxlabs.org/contact/?slug=cancel_class{% endif %}
