If you can't make a class please {% if format == "html" %}<a href="https://txrxlabs.org/contact/?slug=cancel_class">request a cancellation</a>{% else %}use the link below to request a cancellation{% endif %}. Cancellations and rescheduling requests must be made at least one week prior to the class for a full refund. Cancellations submitted less than one week before the class will only be refunded if we can fill your slot.{% if format != "html" %}

https://txrxlabs.org/contact/?slug=cancel_class{% endif %}
