{#! DEPRACATED in favor of riot tag session-list #}
{% load txrx_tags %}
<div class="session well" id="s{{ session.id }}">
  {% if request.user.is_superuser or request.user == session.user %}
  <a href="{% url "course:instructor_session" session.pk %}" class="instructor-link">
    <i class="fa fa-edit"></i></a>
  {% endif %}
  {% if request.user.is_superuser %}
  <a href="/admin/course/session/{{ session.pk }}" class="admin-link"><i class="fa fa-pencil-square"></i></a>
  {% endif %}
  <div class="dates">
    {% for classtime in session.classtime_set.all %}
    <div>{{ classtime|format_classtime }}</div>
    {% endfor %}
  </div>
  {% if session.full and not "overbook" in request.GET %}
  <b class="full">This session is full</b>
  {% else %}
  <div>
    {% if course.fee %}
    with {{ session.user.get_full_name }}
    {% if not session.past %}
    <button class="btn btn-primary add-to-cart" onclick="addClass({{ session.id }});">
      Add this session to cart</button>
    <button class="btn btn-primary view-cart"  data-toggle="modal" data-target="#cartModal">
      <i class="fa fa-shopping-cart"></i> View Cart</button>
    {% endif %}
    {% else %}
    <div class="RsvpLink{% if enrollment.session == session %} attending{% endif %}">
      {% if request.user.is_authenticated %}
      <button class="btn btn-success rsvp" onclick="rsvp({{ session.id }},'{{ session.get_rsvp_url }}');">
        RSVP for this event</button>
      <button class="btn btn-danger unrsvp" onclick="rsvp({{ session.id }},'{{ session.get_rsvp_url }}?drop=1');">
        Cancel RSVP</button>
      {% else %}
      You must
      <a href="/accounts/login/?next={{ session.get_absolute_url|urlencode }}">Login</a>
      to RSVP
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
<script>
  window.SESSIONS_ON_PAGE = window.SESSIONS_ON_PAGE || {};
  window.SESSIONS_ON_PAGE[{{ session.id }}] = {
  'name': "<b>{{ session.course }}</b> {{ session.first_date|date:"m/d/Y" }}",
  'fee': {{ session.course.fee }},
  //'requirements': {{ session.course.requirments }},
  };
</script>
