{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Classes {{ term.name }}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<h1 class="page_title">
  {{ term.name }} Classes
  <div class="calendar_widget">
    <a href="javascript:;" onclick="$('.add_to_calendar').toggle()">
      <span class="glyphicon glyphicon-calendar"></span></a>
    {% include "course/_add_to_calendar.html" with calendar_event=occurrence calendar_context="classes" %}
  </div>
</h1>
{% if request.user.is_authenticated %}
{# TODO: my classes widget #}
{% else %}
<p class="alert alert-error">
  Already signed up? <a href="/accounts/login/">Log in</a> to see your classes.<br />
  If not, an account will be automatically created when you first pay for a class.
</p>
{% endif %}
<form onsubmit="applyFilters(this);return false;" class="filters">
{% include "widgets/filters.html" %}
<span>
  <input id="show_closed" type="checkbox" onchange="$(this).closest('form').submit();" />
  <label for="show_closed">Show Past Sections</label>
  <script type="text/javascript">
    $(document).ready(function() { $("#show_closed").change() });
  </script>
</span>
</form>
<div class="course_list">
  {% for session in sessions %}
  {% include "course/_session_row.html" %}
  {% endfor %}
</div>
{% endblock %}

{% block side %}
{% include "course/_cart.html" %}
{% include "course/_myclasses.html" %}
{% endblock %}
