{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}

{% block title %}Classes {{ term.name }}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="page-header" style="margin: -10px 0 20px;">
  <h1 class="home-tagline">
    {{ term.name }} Classes
    <div class="calendar_widget" style="display: inline-block; padding-left: 50px; font-size:0.7em;">
      (<a href="javascript:;" onclick="$('.add_to_calendar').toggle()">Subscribe to calendar</a>)
      {% include "event/_subscribe_to_calendar.html" with calendar_event=occurrence %}
    </div>
  </h1>
</div>
{% if request.user.is_authenticated %}
{# TODO: my classes widget #}
{% else %}
<p>
  Already signed up? <a href="/accounts/login/">Log in</a> to see your classes.<br />
  If not, an account will be automatically created when you first pay for a class.
</p>
{% endif %}
{% include "widgets/filters.html" %}
{% for week in weeks %}
<div class="week {{ week.open }}">
  <div class="table table-hover class-table">
    {% for session in week.sessions %}
    {% include "course/_session_row.html" %}
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}

{% block side %}
{% include "course/_cart.html" %}
{% endblock %}
