{% extends "base.html" %}

{% block main %}
<table>
  {% for session,money,attendance in course_tuples %}
  {% ifchanged session.section.term %}
  {% if not forloop.first %}<tr><th colspan="4">---------------</th></tr>{% endif %}
  <tr>
    <th colspan="4">{{ session.section.term }}</th>
  </tr>
  <tr>
    <th>date</th>
    <th>session</th>
    <th>money</th>
    <th>attendance</th>
  </tr>
  {% endifchanged %}
  <tr>
    <td>{{ session.first_date|date:"Y/m/d" }}</td>
    <td>{{ session.section.course }}</td>
    <td>{{ money }}</td>
    <td>{{ attendance }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
