{% extends "base.html" %}

{% block main %}
<table>
  {% for term_dict in term_list %}
  {% if not forloop.first %}<tr><th colspan="4">---------------</th></tr>{% endif %}
  <tr>
    <th colspan="4">{{ term_dict.term }}</th>
  </tr>
  <tr>
    <th>date</th>
    <th>session</th>
    <th>money</th>
    <th>attendance</th>
  </tr>
  {% for session,totals in term_dict.sessions.items %}
  <tr>
    <td>{{ session.first_date|date:"Y/m/d" }}</td>
    <td>{{ session.section.course }}</td>
    <td>{{ totals.money }}</td>
    <td>{{ totals.attendance }}</td>
  </tr>
  {% endfor %}
  <tr>
    <th></th>
    <th></th>
    <th>{{ term_dict.money }}</th>
    <th>{{ term_dict.attendance }}</th>
    {% endfor %}
</table>
{% endblock %}
