{% extends "base.html" %}
{% load mptt_comments_tags %}
{% load url from future %}

{% block title %}{{ session.section.course }}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="page-header" style="margin: -10px 0 20px;">
  <h1 class="home-tagline">{{ session.section.course }}</h1>
</div>
<div class="course course-detail" data-subject="{{ session.subjects|join:"," }}"
     {%if not session.course.closed%}data-open{%endif%}
     data-date="{{ session.starttime|date:"Ymd" }}">
  <div class="fee">
    {% include "course/_enroll_link.html" %}
  </div>
  <div class="instructor">
    Taught by
    <a href="{% url "instructor_detail" session.user.username %}">
      <i class="icon-user"></i>{{ session.get_instructor_name }}
    </a>
  </div>
  <div class="details">
    <div class="left">
      <div class="subjects">
	<b>Subject{{ session.section.course.subjects|pluralize:"s" }}</b>:
	{{ session.section.course.subjects.all|join:"," }}
      </div>
      <ol class="dates">{% for classtime in session.classtime_set.all %}
	<li>
	  {{ classtime.start|date:"D m/d G:i" }}
	  -
	  {{ classtime.end_time|time:"G:i" }}
	</li>{% endfor %}
      </ol>
    </div>
    <div class="right">
      <div class="description">
	{{ session.section.description|linebreaksbr }}
      </div>
      {% if session.section.fee_notes %}
      <span class="notes"><b>* Fee Notes:</b> {{ session.section.fee_notes }}</span>
      {% endif %}
      {% if session.section.requirements %}
      <span class="notes">
	<b>Requirements:</b> {{ session.section.requirements }}
      </span>
      {% endif %}
      {% if session.section.prerequisites %}
      <span class="notes">
	<b>Prerequisites:</b>
	{{ session.section.prerequisites }}
      </span>
      {% endif %}
    </div>
    <div style="clear: both;"></div>
    {% display_comment_toplevel_for session %}
  </div>
</div>
{% endblock %}

{% block side %}
{% if request.user == session.user %}
{% include "course/_instructor_panel.html" %}
{% elif enrollment %}
<div class="well">
  <h2>You are enrolled in this course</h2>
</div>
{# {% include "course/_student_panel.html" %} #}
{% else %}
{% include "course/_cart.html" %}
{% endif %}

{% endblock %}
