{% extends "base.html" %}
{% load mptt_comments_tags thumbnail %}
{% load short_codes codrspace_tags %}

{% block title %}{{ session.section.course }}{% endblock %}
{% block header %}{% endblock %}

{% block main %}
<div class="col-sm-9">
  <div class="course-detail row" data-subject="{{ session.subjects|join:"," }}" id="c{{ session.id }}"
       {%if not session.course.closed%}data-open{%endif%}
       data-date="{{ session.starttime|date:"Ymd" }}">
    <div class="col-xs-12">
      <h1 class="page_title">{{ session.section.course }}</h1>
      <div class="subjects">
        <b>Subject{{ session.section.course.subjects|pluralize:"s" }}</b>:
        {{ session.section.course.subjects.all|join:"," }}
      </div>
      <div class="CartBox">
        {% include "course/_enroll_link.html" %}
      </div>
    </div>
    <div class="col-sm-6">
      {% include "widgets/thing_slideshow.html" with thing=session %}
    </div>
    <div class="col-sm-6">
       <div class="details">
         <div class="instructor">
           Taught by
           <a href="{% url "instructor_detail" session.user.username %}">
             <i class="icon-user"></i>{{ session.get_instructor_name }}</a>
         </div>
         <ol class="dates">
           {% for classtime in session.classtime_set.all %}
           <li>
             {{ classtime.start|date:"l F j, g:i" }}
             -
             {{ classtime.end_time|time:"g:i A" }}
           </li>
           {% endfor %}
         </ol>
         <div class="calendar_widget">
           <a href="javascript:;" onclick="$('.add_to_calendar').toggle()">
             <span class="glyphicon glyphicon-calendar"></span> Add to calendar</a>
           {% include "course/_add_to_calendar.html" with calendar_event=session calendar_context="classes" %}
         </div>
         {% if session.branding %}
         {% thumbnail session.branding.image "620x100" as im %}
         <img src="{{ im.url }}" width="620" />
         {% endthumbnail %}
         {% endif %}
         <div class="description">
           {{ session.section.description|explosivo|removetags:"script,style" }}
         </div>
         {% if session.section.fee_notes %}
         <span class="notes"><b>* Fee Notes:</b> {{ session.section.fee_notes }}</span>
         {% endif %}
         {% if session.section.requirements %}
         <span class="notes">
           <b>Requirements:</b> {{ session.section.requirements }}
         </span>
         {% endif %}
         {% if session.section.prerequisites %}
         <span class="notes">
           <b>Prerequisites:</b>
           {{ session.section.prerequisites }}
         </span>
         {% endif %}
       </div>
       {% if session.sessionattachment_set.count %}
       <div>
         <h2>Relevant files</h2>
         {% for attachment in session.sessionattachment_set.all %}
         <a href="{{ attachment.attachment.file.url }}" target="_blank">{{ attachment.attachment.name }}</a><br/>
         {% endfor %}
       </div>
       {% endif %}
       {% if alternate_sessions %}
       <div class="alternate_sessions">
         <h4>Can't make it to this class? Checkout these other sessions:</h4>
         {% for klass in alternate_sessions %}
         <div>
           {% if klass.full %}<strong class="full">[FULL]</strong>{% endif %}
           <a href="{{ klass.get_absolute_url }}">{{ klass }}</a>
         </div>
         {% endfor %}
       </div>
       {% endif %}
       <div class="notify_course">
         {% if notify_course %}
         <a href="{% url "clear_notification" "notify_course" request.user.id notify_course.id %}">
           <button class="btn btn-danger">
             Don't send me emails when this class is scheduled
           </button>
         </a>
         {% else %}
         <a href="{% url "notify_course" session.id %}"><button class="btn btn-success">
             Email me the next time this class is scheduled</button></a>
         {% endif %}
       </div>
    </div>
    <div style="clear: both;"></div>
    <div class="col-xs-12">{% display_comment_toplevel_for session %}</div>
  </div>
 </div>
 <div class="col-sm-3" id="side">
   {% if request.user.is_staff %}
   {% include "course/_instructor_panel.html" %}
   {% endif %}
   {% if enrollment %}
   <div class="well">
     <h2>You are enrolled in this course</h2>
   </div>
   {# {% include "course/_student_panel.html" %} #}
   {% else %}
   {% include "course/_cart.html" with small_cart="1" %}
   {% endif %}
   {% if related_sessions %}
   <div class="related_sessions">
     <h4>Checkout these similar classes!</h4>
     {% for klass in related_sessions %}
     <div>
       <a href="{{ klass.get_absolute_url }}">{{ klass }}</a>
     </div>
     {% endfor %}
   </div>
   {% endif %}
</div>
{% endblock %}
