{% extends "base.html" %}
{% load thumbnail %}
{% load short_codes txrx_tags %}

{% block title %}{{ course }}{% endblock %}
{% block header %}{% endblock %}

{% block fb_title %}{{ course }} at {{ settings.SITE_NAME }}{% endblock %}
{% block fb_description %}{{ course.description|implosivo|escape }}{% endblock %}

{% block main %}
<h1 class="page_title">
  {{ course }}
  {% if request.user.is_superuser %}
  <a href="/admin/course/course/{{ course.pk }}"><i class="fa fa-pencil-square"></i></a>
  {% endif %}
</h1>
<div class="course-detail row">
  <div class="col-sm-4 col-md-5">
    {% if course.branding %}
    {% thumbnail course.branding.image "620x100" as im %}
    <img src="{{ im.url }}" width="620" />
    {% endthumbnail %}
    {% endif %}
    <div class="slide-wrapper">
      {% include "widgets/thing_slideshow.html" with thing=course %}
    </div>
    {% comment %}
    <div class="calendar_widget">
      <a href="javascript:;" onclick="$('.add_to_calendar').toggle()">
        <span class="glyphicon glyphicon-calendar"></span> Add to calendar</a>
      {% include "course/_add_to_calendar.html" with calendar_event=session calendar_context="classes" %}{#! this needs to be fixed #}
    </div>
    {% endcomment %}
  </div>
  <div class="col-sm-4">
    {% if enrollment %}
    <div class="alert alert-success class-enrollment">
      {% if enrollment.session.past %}
      <h3>You completed this class:</h3>
      {% else %}
      <h3>You are enrolled in this class:</h3>
      {% endif %}
      {% for classtime in enrollment.session.classtime_set.all %}
      <div>{{ classtime|format_classtime }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="description">
      {{ course.description|explosivo }}
    </div>
    {% if course.fee_notes %}
    <p class="notes"><b>* Fee Notes:</b> {{ course.fee_notes }}</p>
      {% endif %}
    {% if course.requirements %}
    <p class="notes"><b>Requirements:</b> {{ course.requirements }}</p>
    {% endif %}
    {% if course.prerequisites %}
    <p class="notes"><b>Prerequisites:</b> {{ course.prerequisites }}</p>
    {% endif %}
    {% if course.get_files %}
    <div>
      <h2>Relevant Files</h2>
      {% for f in course.get_files %}
      <a href="{{ f.file.url }}" target="_blank">{{ f.name }}</a><br/>
      {% endfor %}
    </div>
    {% endif %}
    {% if course.get_private_files and enrollment.session.past %}
    <div>
      <h2>Post-Class Files</h2>
      {% for f in course.get_private_files %}
      <a href="{{ f.file.url }}" target="_blank">{{ f.name }}</a><br/>
      {% endfor %}
    </div>
    {% endif %}
    {% if settings.DEBUG and course.get_tools %}
    <div>
      <h2>This class is needed to use the following tool{{ course.get_tools|pluralize:"s" }}:</h2>
      {% for tool in course.get_tools %}
      <a href="{{ tool.get_absolute_url }}">{{ tool }}</a><br/>
      {% endfor %}
    </div>
    {% endif %}
    <p class="notify_course">
      {% if notify_course %}
      <a href="{% url "clear_notification" "notify_course" request.user.id notify_course.id %}">
        <button class="btn btn-danger">
          Do not send me emails when this class is scheduled
        </button>
      </a>
      {% else %}
      <a href="{% url "notify_course" course.id %}"><button class="btn btn-success">
          Email me the next time this class is scheduled</button></a>
      {% endif %}
    </p>
    {% if course.active_sessions %}
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"
          style="text-align: center;">
      <input type="hidden" name="cmd" value="_oe-gift-certificate">
      <input type="hidden" name="business" value="txrxlabs@gmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="amount" value="100.00">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="shopping_url" value="http://txrxlabs.org/classes/">
      <input type="hidden" name="style_color" value="BLU">
      <input type="hidden" name="fixed_denom" value="{{ course.fee }}">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="bn" value="PP-GiftCertBF:btn_giftCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_giftCC_LG.gif" border="0"
             name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
    {% endif %}

    <div style="clear: both;"></div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 pull-right" id="side">
    <session-list></session-list>
    <center>{% include "_social.html" with thing=course %}</center>
    <br/>
    <center><button class="btn btn-danger return_policy" onclick="$('.session_return_policy').toggle();return false;">
        View our return policy</button></center>
    <br/>
    <div class="alert alert-danger session_return_policy" style="display:none;">
      {% include "course/_return_policy.html" with format="html" %}
    </div>
    {% comment %}
    <center>
      <span class="st_facebook_large" displayText="Facebook"></span>
      <span class="st_twitter_large" displayText="Tweet" st_via="TXRXLabs"></span>
      <span class="st_pinterest_large" displayText="Pinterest"></span>
      <span class="st_googleplus_large" displayText="Google +"></span>
      <span class="st_reddit_large" displayText="Reddit"></span>
    </center>
    {% endcomment %}
    {% if request.user.is_staff %}
    {# {% include "course/_instructor_panel.html" %} #}
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <comment-list data-object_pk="{{ course.pk }}" data-content_type="course.course"></comment-list>
  </div>
</div>
{% endblock %}

{% block extrajs %}
{% include "_comment_media.html" %}
<script>
uR.ready(function() {
  uR.ajax({
    url: '/classes/course_{{ course.id }}.json',
    success: function(data) { uR.drop.mount('session-list',data); },
  });
});
</script>
{% endblock %}
