{% extends "base.html" %}

{% block full_title %}Pending Evaluations{% endblock %}
{% block header_content %}Pending Evaluations{% endblock %}

{% block content %}
<ul>
  {% for enrollment in pending_evaluations %}
  <li>
    {{ enrollment.session }}
    <a class="btn btn-success" href="{% url "course:evaluation_detail" enrollment.id %}">
      Evaluate</a>
    <a class="btn btn-danger" href="{% url "course:evaluation_refuse" enrollment.id %}">
      Decline Evaluation</a>
  </li>
  {% empty%}
  <li>You have no pending evaluations</li>
  {% endfor %}
</ul>
{% endblock %}
