{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Classes + Workshops{% endblock %}
{% block header %}{% endblock %}

{% block main %}
<div class="col-xs-12">
  <h1 class="page_title">
    Classes and Workshops
    <div class="calendar_widget">
      <a href="javascript:;" onclick="$('.add_to_calendar').toggle()">
        <span class="glyphicon glyphicon-calendar"></span></a>
      {% include "course/_add_to_calendar.html" with calendar_event=occurrence calendar_context="classes" %}
    </div>
  </h1>
</div>
<div style="clear:both;"></div>
<div class="col-sm-3 col-md-2 col-lg-2" id="side">
  <course-filters></course-filters>
</div>
<div class="col-sm-9 col-md-10 col-lg-10">
  {% if pending_evaluations %}
  <div class="alert alert-success">
    <p>Please take a moment to evaluate the following class{{ pending_evaluations|pluralize:"es" }}. We rely on your feedback to improve our classes and to decide which classes to teach in the future.</p>
    <ul>
      {% for enrollment in pending_evaluations %}
      <li>
        {{ enrollment.session }}
        <a class="btn btn-success" href="{% url "course:evaluation_detail" enrollment.id %}">
          Evaluate</a>
        <a class="btn btn-danger" href="{% url "course:evaluation_refuse" enrollment.id %}">
          Decline Evaluation</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <ur-tabs>
    <ur-tab title="All Classses">
      <course-list id="scheduled-courses"></course-list>
      <div class="course_divider" style="display:none">
        <h2>Classes not Scheduled</h2>
        <p class="alert alert-warning">
          The classes below are not currently scheduled but are classes taught at TXRX. Click the "Email me the next time this class is scheduled" button on the class page to be notified when a new session is posted.
        </p>
      </div>
      <course-list id="unscheduled-courses"></course-list>
    </ur-tab>
    <ur-tab title="My Classes ({{ user_sessions|length }})" href="{% url "course:user_ajax" "myclasses" %}"></ur-tab>
    {% if instructor_sessions %}
    <ur-tab title="Instructor ({{ instructor_sessions|length }})" href="{% url "course:user_ajax" "instructor" %}"></ur-tab>
    {% endif %}
  </ur-tabs>
</div>
{% endblock %}
