{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Classes {{ term.name }}{% endblock %}
{% block header %}{% endblock %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/ng-infinite-scroll.js"></script>
<script src="{% url "course:classes_json" %}"></script>
{% endblock %}
{% block extrajs %}
<script>
var myApp = angular.module("myApp", ["infinite-scroll"]);

myApp.controller("DemoController", function($scope) {
  $scope.courses = ALL_CLASSES;
  $scope.subjects = CLASS_SUBJECTS;
  $scope.discount = MEMBER_DISCOUNT

  for (var si=0; si<USER_SESSIONS.length;si++) {
    session = USER_SESSIONS[si];
    for (var ci=0; ci<ALL_CLASSES.length;ci++) {
      c = ALL_CLASSES[ci];
      if (c.id == session.course_id) {
        c.enrolled_status = session.enrolled_status;
        c.well_class = "enrolled";
      }
    }
  }

  $scope._vi = 8;
  var active_courses = [];
  var inactive_courses = [];
  var active_subjects = {};
  var inactive_subjects = {};
  for (var i=0;i<$scope.courses.length;i++) {
    var c = $scope.courses[i];
    if (c.next_time == 0) {
      inactive_courses.push(c);
      s = inactive_subjects;
    } else {
      active_courses.push(c);
      s = active_subjects;
    }
    for (var si=0;si<c.subjects.length;si++) {
      s[c.subjects[si]] = (s[c.subjects[si]] || 0) + 1;
    }
  }
  for (var si=0;si<$scope.subjects.length;si++) {
    var s = $scope.subjects[si];
    s.active_courses = active_subjects[s.id] || 0;
    s.inactive_courses = inactive_subjects[s.id] || 0;
    for (var ci=0;ci<s.children.length;ci++) {
      var c = s.children[ci];
      c.active_courses = active_subjects[c.id] || 0;
      c.inactive_courses = inactive_subjects[c.id] || 0;      
    }
  }
  $scope.display_courses = active_courses.slice(0,$scope._vi);
  $scope.loadMore = function() {
    if ($scope._vi >= $scope.courses.length) {return }
    $scope._vi = Math.min($scope.display_courses.length+6,$scope.courses.length);
    $scope.display_courses = active_courses.slice(0,$scope._vi);
    console.log($scope._vi);
  };
});
var USER_SESSIONS = [
  {% for session in user_sessions %}
  {{ session.json|safe }}{% if not forloop.last %},{% endif %}{% endfor %}
]
USER_COURSE_IDS = [];
</script>
{% endblock %}

{% block main %}
<div class="col-xs-12">
  <h1 class="page_title">
    {{ term.name }} Classes
    <div class="calendar_widget">
      <a href="javascript:;" onclick="$('.add_to_calendar').toggle()">
        <span class="glyphicon glyphicon-calendar"></span></a>
      {% include "course/_add_to_calendar.html" with calendar_event=occurrence calendar_context="classes" %}
    </div>
  </h1>
</div>
<div style="clear:both;"></div>
<div ng-app="myApp" ng-controller="DemoController">
<div class="col-sm-5 col-md-2 col-lg-2" id="side">
  <input type="checkbox" id="toggle_filters" />
  <label for="toggle_filters" class="btn btn-success">Filter by Subject</label>
  <form onsubmit="applyFilters(this);return false;" class="filters course_filters">
    <input name="q" class="form-control" placeholder="Search Classes">
    {% include "course/_filters.html" %}
  </form>
</div>
<div class="col-sm-7 col-md-10 col-lg-10">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#all_classes" role="tab" data-toggle="tab">All Classes</a></li>
    <li><a href="#my_classes" role="tab" data-toggle="tab">
        My Classes ({{ user_sessions|length }})</a></li>
    {% if instructor_sessions %}
    <li><a href="#instructor_sessions" role="tab" data-toggle="tab">
        Instructor ({{ instructor_sessions|length }})</a></li>
    {% endif %}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active course_list" id="all_classes">
      <div infinite-scroll="loadMore()" infinite-scroll-distance="2">
        <div class="row">
          {% include "course/_course_row.html" %}
        </div>
      </div>
    </div>
    <div class="tab-pane" id="my_classes">
      {% if request.user.is_authenticated %}
      {% include "course/_myclasses.html" %}
      {% else %}
      <p class="alert alert-error">
        Already signed up?
        <a href="/accounts/login/?next={{ request.path|urlencode }}{{ "#my_classes"|urlencode }}">Log in</a>
        to see your classes.<br />
        If not, an account will be automatically created when you first pay for a class.
      </p>
      {% endif %}
    </div>
    {% if instructor_sessions %}
    <div class="tab-pane" id="instructor_sessions">
      <ul>
        {% for session in instructor_sessions %}
        <li>
          <a href="{% url "course:instructor_session" session.pk %}">
            {{ session.section.course.name }}
          </a>
          <br />
          {{ session.get_short_dates }}
          <br />
          ({{ session.total_students }}/{{ session.section.max_students }} students)
          <br />&nbsp;
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
