{% extends "base.html" %}

{% block title %}Instructor: {{ session }}{% endblock %}

{% block main %}
<div class="col-sm-12">
  <h1 class="page-title">
    {{ session.course.name }}
    <a class="pull-right fa fa-pencil-square" href="/admin/user/user/{{ session.user_id }}/">
      {{ session.user.username }}</a>
  </h1>
  {% if not session.active %}
  <p class="alert alert-danger">
    This session is not active (only you can see it). Contact the staff if you think this is an error.
  </p>
  {% endif %}
</div>
<div class="col-sm-12">
  <div class="well">
    <h3>Class times</h3>
    <ul>
      {% for classtime in session.classtime_set.all %}
      <li>{{ classtime.start|date:"l M d, P" }} - {{ classtime.end|date:"P" }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% if session.get_evaluations %}
<div class="col-sm-12">
  <div class="well">
    <h3>Course Evaluations</h3>
    <div class="accordion" id="evaluation_panel">
      <div class="accordion-group">
        {% for evaluation in session.get_evaluations.all %}
        <div class="accordion-heading">
          <a class="accordion-toggle row" data-parent="#evaluation_panel"
             data-toggle="collapse" href="#evaluation_number_{{ evaluation.id }}">
            {% for name,number,comments in evaluation.get_number_tuples %}
            <span class="span3">
              <b>{{ name }}</b> {{ number }}
              {% if comments %} + COMMENTS{% endif %}
            </span>
            {% endfor %}
            {% if evaluation.get_question_tuples %}
            <span class="span2">+ {{ evaluation.get_question_tuples|length }} Feedbacks</span>
            {% endif %}
          </a>
        </div>
        <div id="evaluation_number_{{ evaluation.id }}" class="accordion-body collapse">{{ forloop.parent }}
          <div class="accordion-inner">
            {% for question,answer in evaluation.get_question_tuples %}
            <div>
              <b>{{ question }}</b>
              <p>{{ answer }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="col-sm-6">
  <div class="well">
    <h2>Student List ({{ session.total_students }}/{{ session.course.max_students }} students)</h2>
    <ul style="padding-left: 15px;">
      {% for enrollment in session.enrollment_set.all %}
      <li{% if enrollment.quantity != 1 %} data-before="{{ enrollment.quantity }}x "{% endif %}>
        {{ enrollment.user.email }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="col-sm-6">
  <div class="well completion_form">
    <h2>Completion Form</h2>
    <form method="POST">{% csrf_token %}
      When class is completedly over, check off the students who have completed the class and press submit.
      {% for enrollment in session.enrollment_set.all %}
      <p>
        <label>
          <input type="checkbox" name="completed"{% if enrollment.status == "completed" %}
                 checked="checked"{% endif %} value="{{ enrollment.id }}"/>
          {{ enrollment.user.first_name }} {{ enrollment.user.last_name }} - {{ enrollment.user.email }}
          {% if enrollment.user.has_safety_waiver %}
          <i class="text-success fa fa-check-circle"></i>
          {% else %}
          <i class="text-danger fa fa-times-circle"></i>
          {% endif %}
        </label>
      </p>
      {% endfor %}
      <p>
        Also take a moment to look over all the materials needed to teach again.
        Make a note of anything that is missing and we'll order it now.
        If you don't need anything write "no" so we know you checked.
      </p>
      {% include "_form.html" with form=needed_form %}
      <input type="submit" value="Update" class="btn btn-primary" />
    </form>
  </div>
</div>
{% endblock %}
