{% extends "base.html" %}
{% load thumbnail crop_util %}

{% block title %}Bio: {{ profile.name }}{% endblock %}
{% block header_content %}Bio: {{ profile.name }}{% endblock %}

{% block content %}
<section class="instructor-bio">
  <div class="descripiton">
    {% thumbnail profile.photo|get_override:"portrait_crop" "150x200" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="float: left; margin: 0 20px 15px 0;" />
    {% endthumbnail %}
    <p>{{ profile.bio }}</p>
    <div style="clear: both"></div>
  </div>
</section>
<section>
  <div>
    <div class="accordion" id="instructor_classes">
      {% for term,sessions in profile.get_term_sessions %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#instructor_classes"
             data-toggle="collapse" href="#instructor_classes_{{ term.id }}">
            <h3>Classes Taught {{ term }}</h3>
          </a>
        </div>
        <div id="instructor_classes_{{ term.id }}"
             class="accordion-body collapse{% if forloop.first %} in{% endif %}">
          <div class="accordion-inner">
            <ul class="unstyled">
              {% for session in sessions %}
              <li><a href="{{ session.get_absolute_url }}">
                  {{ session.section.course.name }}
              </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
