{% extends "base.html" %}

{% block header_content %}Registration Complete{% endblock %}

{% block content %}
<p>
  You are now registered for the following class{{ sessions|pluralize:"es" }}.
</p>

{% if not request.user.is_authenticated %}
<div class="alert alert-danger">
  <p>
    Because you are not logged in,
    {% if matched_user %}
    we looked up your paypal email and will assign your classes to the user with username "{{ matched_user }}".
    {% else %}
    we will create a new account using your paypal email: "{{ email }}".
    {% endif %}
  </p>
  <p>
    If this is wrong, please sent an email with the subject "{{ request.REQUEST.txn_id }}" to <a href="mailto:{{ settings.CONTACT_EMAIL }}?subject=Transaction {{ request.REQUEST.txn_id }}">{{ settings.CONTACT_EMAIL }}</a>.
  </p>
</div>
{% endif %}

<table class="table table-striped" style="max-width: 400px;">
  <tr>
    <th>Course</th>
    <th>Date(s)</th>
    <th>Cost</th>
  </tr>
  {% for session in sessions %}
  <tr>
    <td>
      <a href="{{ session.course.get_absolute_url }}">{{ session.name }}</a>
      {% if session.course.requirements %}
      <p><b>Requirements</b>: {{ session.course.requirements }}</p>
      {% endif %}
    </td>
    <td>{{ session.get_short_dates }}</td>
    <td>${{ session.course.fee }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
