<admin-dashboard>
  <h1>Sales Dashboard</h1>
  <ur-form initial={ initial } action="/dashboard/totals.json" ajax_success={ update_plot }
           schema={ schema } ajax_target="#line-chart"></ur-form>
  <div id="line-chart" style="width:600px;height:250px;"></div>

  var self = this;
  this.schema = [
    { name: 'metric', type: 'select', required: false,
      choice_tuples: [
        ['line_total','Cart Total'],
        ['quantity','Quantity'],
        ['new_students','New Students'],
        ['classes_per_student','Classes Per Student'],
      ]
    },
    { name: 'product_types', type: 'hidden', required: false,
      choice_tuples: [
        ["",'All Products'],
        ["214","Course Enrollments"],
        ["215","Giftcards"],
        ["121","Shop Consumables"],
        //["133","Meberships"],
      ]
    },
    { name: 'time_period', type: 'select', required: false,
      choice_tuples: [
        [90,'Three Months'],
        [180,'Six Months'],
        [365,'One Year'],
      ]
    },
    { name: 'resolution', type: 'select', required: false,
      choice_tuples: [
        [1, 'One Day'],
        [2, 'Two Day'],
        [7, 'Week'],
        ['month', 'Month'],
      ]
    }
  ];
  this.initial = uR.getQueryDict();
  this.initial.time_period = this.initial.time_period || 90;
  this.initial.product_types = this.initial.product_types || 214;
  this.initial.metric = this.initial.metric || 'line_total';
  this.initial.resolution = this.initial.resolution || 1;
  this.on("mount",function() {
    this.update();
    setTimeout(function() { document.querySelector("ur-form button").dispatchEvent(new Event("click"))},0)
  });
  update_plot(data) {
    var qs = "?";
    var form_data = self.tags["ur-form"].getData();
    for (key in form_data) { qs += key + "=" + encodeURIComponent(form_data[key]) + "&"; }
    window.history && window.history.replaceState({},"",window.location.pathname+qs);
    self.data = data;
    var LINE_CHART = document.getElementById('line-chart');
    Plotly.purge(LINE_CHART);
    var metric = document.querySelector("[name=metric]");
    var ymax = Math.max.apply(null,data.data.map(function(i) { return parseInt(i)}));
    var pow_10 = Math.pow(10,Math.floor(Math.log10(ymax)))
    ymax = Math.ceil(ymax/pow_10)*pow_10;
    Plotly.plot(
      LINE_CHART, [
        { x: data.days, y: data.data, name: metric.options[metric.selectedIndex].innerText},
      ],
      {
        margin: { l: 50, r: 20, b: 40, t: 20 },
        xaxis: {
          title: 'Date',
        },
        yaxis: { range: [0,ymax] },
      },
      {displayModeBar: false}
    );
  }
</admin-dashboard>
