{% extends "base.html" %}
{% load txrx_tags %}

{% block full_title %}Notification Settings - {{ settings.SITE_NAME }}{% endblock %}
{% block header_content %}Edit your notification settings{% endblock %}

{% block content %}
<h2>Phone Number</h2>
<number-display></number-display>
<hr />
<h2>Notification Settings</h2>
<form method="POST" enctype="multipart/form-data" class="notify-form">
  {% csrf_token %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  {% include "_form.html" %}
  <input type="submit" class="btn btn-success" />
</form>
<script type="riot/tag">
  <number-display>
    <p if={ !smsnumber }>
      If you want to receive class reminders or other notifications via text message,
      add a phone number and then select "Text Message" from the options below.
      If you added a number previously and do not see it below then you most likely did not verify that number.
    </p>
    <div if={ smsnumber }>
      <p>Any notification set to "Text Message" will be sent to the following number.</p>
      <p><b>Contact Number:</b> { smsnumber }</p>
    </div>
    <button class="btn btn-primary" onclick={ openForm }>
      <span if={ smsnumber }>Change Phone Number</span>
      <span if={ !smsnumber }>Add Phone Number</span>
    </button>
    <button class="btn btn-danger" if={ smsnumber } onclick={ confirmClear }>
    Clear Phone Number</button>

    var self = this;
    this.on("update",function() {
      this.smsnumber = uR.auth.user.phone_number;
    });
    openForm(e) {
      uR.alertElement('phone-number',{_parent:this});
    }
    confirmClear(e) {
      uR.confirm('Are you sure you want to delete this number?',function(){
        uR.ajax({
          url: "/sms/delete_phone/",
          target:this.root,
          success: function() { uR.auth.user.phone_number = undefined },
          that: self,
        })
      });
    }
  </number-display>
  <phone-number>
    <div class={ theme.outer }>
      <div class={ theme.content }>
        <h3>Phone Number</h3>
        <div if={ !step }>
          <ur-form schema={ ["phone_number"] } action="/sms/add_phone/" method="POST" initial={ initial }></ur-form>
        </div>
        <div if={ step == 'verify' }>
          <p>We have sent a verification code to your phone. Please type that in below.</p>
          <ur-form schema={ ["verification_code"] } action="/sms/verify_phone/" method="POST"
                   ajax_success={ verified }></ur-form>
        </div>
      </div>
    </div>

  var self = this;
  uR.auth.ready(function() {
    self.initial = { phone_number: uR.auth.user.phone_number }
    self.update();
  });
  self.ajax_success = function(data) {
    self.step = 'verify';
    self.update()
  }
  self.verified = function(data) {
    uR.auth.user.phone_number = data.smsnumber;
    self.opts._parent.update()
    self.unmount();
  }
  </phone-number>
</script>
<script>
  uR.ready(function() {
    uR.auth.ready(function() { riot.mount("number-display"); });
  });
</script>
{% endblock %}
