<form method="POST" id="login-form" class="cvfloat">
  {% csrf_token %}
  {% if form.errors %}<p class="error">Username and password did not match.</p>{% endif %}
  <div class="form-group">
    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
    <input id="id_username" maxlength="254" name="username" type="text" {% if form.username.value %}
           value="{{ form.username.value }}"{% endif %} placeholder="username or email" />
  </div>
  <div class="form-group">
    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
    <input id="id_password" name="password" type="password" placeholder="password">
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}/{% endif %}" />
  </div>
  {% if bad_password %}
  <div class="form-group">
    Incorrect username/password, try again.
  </div>
  {% endif %}
  <div class="form-group">
    <label>&nbsp;</label><input type="submit" class="btn btn-primary" value="Log in" />
  </div>
  <div>
    <a class="blue" href="/accounts/register/">Register</a> |
    <a class="blue" href="{% url "password_reset" %}">Reset Password</a>
  </div>
</form>
