{% extends "registration/base.html" %}

{% block content %}
<p>
  {% if profile.activated %}
  We're sorry. The account you have attempted to activate has already been activated.
  If this is your account, you can <a href="{% url "login" %}">login</a>
  or <a href="{% url "password_reset" %}">reset your password</a>.
  {% else %}
  We're sorry. The link you have entered is invalid or has expired.
  Please try to <a href="{% url "registration_register" %}">register again</a>.
  {% endif %}
</p>
{% endblock %}
