{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Change Password' %}{% endblock %}
{% block header_content %}{% trans 'Change Password' %}{% endblock %}

{% block content %}
<p class="lead">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<form action="" method="post">{% csrf_token %}
  <fieldset>
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.field.id }}" class="required">{{ field.label }}</label>
      <br />
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
</form>
{% endblock %}
