{% for f in filters %}
<select id="{{ f.slug }}" name="{{ f.slug }}" onchange="$(this).closest('form').submit();">
  <option value="">All {{ f.name }}s</option>
  {% for o in f.options %}
  <option value="{{ o.value }}"{% if not o.count %} disabled="disabled"{% endif %}>
    {{ o.name }} {% if o.count %}({{ o.count }}){% endif %}</option>
  {% for s in o.subfilters %}{# These won't appear if empty #}
  <option value="{{ s.value }}">
    -- {{ s.name }} ({{ s.count }})</option>
  {% endfor %}
  {% endfor %}
</select>
{% endfor %}
