{% load thumbnail %}
<div class="tool" id="{{ tool.slug }}"
     style="width:{{ lab.width }}px">
  <a onclick="$('#{{ tool.slug }} .modal').addClass('active').modal({minHeight:600, maxWidth:700,padding:'10px'}); return false;">
    <h2>{{ tool.name }}</h2>
    {% thumbnail tool.src lab.dimensions as im %}
    <img src="{{ im.url }}" style="float: left;" width="{{ im.width }}"
	 height="{{ im.height }}" />
    <div class="after">DETAILS +</div>
    {% endthumbnail %}
  </a>
  <div class="modal">
    <div class="content">
      <h2>{{ tool.name }}</h2>
      {% if tool.make %}<div>Make: {{ tool.make }}</div>{% endif %}
      {% if tool.model %}<div>Model: {{ tool.model }}</div>{% endif %}
      {% if tool.description %}
      <div class="description">
	{{ tool.description|safe }}
      </div>
      {% endif %}
      <div class="pics">{% for s in tool.toolphoto_set.all %}
	{% thumbnail s.src "120x90" as im %}
	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
	     class="pointer" />
	{% endthumbnail %}{% endfor %}
      </div>
      {% if tool.links %}
      <div class="links">
	<h2>Related Links</h2>{% for link in tool.links %}
	<a href="{{ link.url }}">{{ link.title }}</a>{% endfor %}
      </div>
      {% endif %}
      {% if tool.videos %}
      <div class="videos">
	<h2>Videos featuring this tool</h2>{% for video in tool.videos %}
	<a onclick="modalContent(this,labVideos['{{ video.id }}']); return false;">
	  {% thumbnail video.src "120x90" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
	  {% endthumbnail %}
          {{ video.title }}
	</a>{% endfor %}
      </div>
      {% endif %}
      {% if tool.projects %}
      <div class="projects">
	<h2>Related Projects</h2>{% for project in tool.projects %}
	<a href="{{ project.url }}">
	  {% thumbnail project.src "120x90" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
	  {% endthumbnail %}
          {{ project.title }}
	</a>{% endfor %}
      </div>
      {% endif %}
      {% if tool.photos %}
      <div class="photos">{% for photo in tool.photos %}
	<a href="{{ photo.url }}">
	  {% thumbnail photo.first_photo.src "120x90" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
	  {% endthumbnail %}
          {{ photo.title }}
	</a>{% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="pseudo-window">
      <a href="javascript:" onclick="$(this).closest('.modal').children('div').toggle();
				     $(this).siblings().html('');">&raquo; BACK</a>
      <div></div>
    </div>
  </div>
</div>
