

.home-theme a { color: #33FF00; }
.home-theme { background: url(circuit-bg.png) #0a3300; }
.home-theme {
    background-color: #28cc00;
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.home-wrapper {
    border: 2px solid #33FF00;
    box-shadow: 0 0 20px #33FF00;}
.home-wrapper .feed > li, .home-wrapper .outlined {
    border: 1px #33FF00 solid;
    box-shadow: 2px 2px 10px #33FF00;}
#nav .home .after {
    background: #33FF00;
    box-shadow: 0 0 20px #33FF00;
}

.home-wrapper #nav .text {
    .border: #33FF00 1px solid;
    .box-shadow: inset 0 0 5px #33FF00;
}

.events-theme a { color: #FF00FF; }
.events-theme { background: url(circuit-bg.png) #330033; }
.events-theme {
    background-color: #cc00cc;
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.events-wrapper {
    border: 2px solid #FF00FF;
    box-shadow: 0 0 20px #FF00FF;}
.events-wrapper .feed > li, .events-wrapper .outlined {
    border: 1px #FF00FF solid;
    box-shadow: 2px 2px 10px #FF00FF;}
#nav .events .after {
    background: #FF00FF;
    box-shadow: 0 0 20px #FF00FF;
}

.events-wrapper #nav .text {
    .border: #FF00FF 1px solid;
    .box-shadow: inset 0 0 5px #FF00FF;
}

.classes-theme a { color: #FFFF00; }
.classes-theme { background: url(circuit-bg.png) #333300; }
.classes-theme {
    background-color: #cccc00;
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.classes-wrapper {
    border: 2px solid #FFFF00;
    box-shadow: 0 0 20px #FFFF00;}
.classes-wrapper .feed > li, .classes-wrapper .outlined {
    border: 1px #FFFF00 solid;
    box-shadow: 2px 2px 10px #FFFF00;}
#nav .classes .after {
    background: #FFFF00;
    box-shadow: 0 0 20px #FFFF00;
}

.classes-wrapper #nav .text {
    .border: #FFFF00 1px solid;
    .box-shadow: inset 0 0 5px #FFFF00;
}

.projects-theme a { color: #4D3Dff; }
.projects-theme { background: url(circuit-bg.png) #0f0c33; }
.projects-theme {
    background-color: #3d30cc;
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.projects-wrapper {
    border: 2px solid #4D3Dff;
    box-shadow: 0 0 20px #4D3Dff;}
.projects-wrapper .feed > li, .projects-wrapper .outlined {
    border: 1px #4D3Dff solid;
    box-shadow: 2px 2px 10px #4D3Dff;}
#nav .projects .after {
    background: #4D3Dff;
    box-shadow: 0 0 20px #4D3Dff;
}

.projects-wrapper #nav .text {
    .border: #4D3Dff 1px solid;
    .box-shadow: inset 0 0 5px #4D3Dff;
}

.members-theme a { color: #FE0001; }
.members-theme { background: url(circuit-bg.png) #320000; }
.members-theme {
    background-color: #cb0000;
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.members-wrapper {
    border: 2px solid #FE0001;
    box-shadow: 0 0 20px #FE0001;}
.members-wrapper .feed > li, .members-wrapper .outlined {
    border: 1px #FE0001 solid;
    box-shadow: 2px 2px 10px #FE0001;}
#nav .members .after {
    background: #FE0001;
    box-shadow: 0 0 20px #FE0001;
}

.members-wrapper #nav .text {
    .border: #FE0001 1px solid;
    .box-shadow: inset 0 0 5px #FE0001;
}

.about-us-theme a { color: #FF4105; }
.about-us-theme { background: url(circuit-bg.png) #330d01; }
.about-us-theme {
    background-color: #cc3404;
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.about-us-wrapper {
    border: 2px solid #FF4105;
    box-shadow: 0 0 20px #FF4105;}
.about-us-wrapper .feed > li, .about-us-wrapper .outlined {
    border: 1px #FF4105 solid;
    box-shadow: 2px 2px 10px #FF4105;}
#nav .about-us .after {
    background: #FF4105;
    box-shadow: 0 0 20px #FF4105;
}

.about-us-wrapper #nav .text {
    .border: #FF4105 1px solid;
    .box-shadow: inset 0 0 5px #FF4105;
}

.tools-theme a { color: #993CF3; }
.tools-theme { background: url(circuit-bg.png) #1e0c30; }
.tools-theme {
    background-color: #7a30c2;
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.tools-wrapper {
    border: 2px solid #993CF3;
    box-shadow: 0 0 20px #993CF3;}
.tools-wrapper .feed > li, .tools-wrapper .outlined {
    border: 1px #993CF3 solid;
    box-shadow: 2px 2px 10px #993CF3;}
#nav .tools .after {
    background: #993CF3;
    box-shadow: 0 0 20px #993CF3;
}

.tools-wrapper #nav .text {
    .border: #993CF3 1px solid;
    .box-shadow: inset 0 0 5px #993CF3;
}

.join-us-theme a { color: #FFFFFF; }
.join-us-theme { background: url(circuit-bg.png) #333333; }
.join-us-theme {
    background-color: #cccccc;
    background-image: url(circuit-bg.png) ,url(mask.png);
}
.join-us-wrapper {
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 20px #FFFFFF;}
.join-us-wrapper .feed > li, .join-us-wrapper .outlined {
    border: 1px #FFFFFF solid;
    box-shadow: 2px 2px 10px #FFFFFF;}
#nav .join-us .after {
    background: #FFFFFF;
    box-shadow: 0 0 20px #FFFFFF;
}

.join-us-wrapper #nav .text {
    .border: #FFFFFF 1px solid;
    .box-shadow: inset 0 0 5px #FFFFFF;
}
