{% load admin_dashboard %}

<div class="module" id="recent-actions-module">
  {% get_user_flags %}
  {% for verbose, flags, cls in user_flags %}
  <h4 class="italic-title">{{ verbose }}</h4>
  <div class="actionlist" style="width: 400px;">
    <table style="width: 100%;">
    {% for flag in flags %}
    <tr>
      <td><i class="icon-flag"></i></td>
      <td><a href="/admin/membership/userflag/{{ flag.pk }}/">
          {{ flag.subscription.user }} - {{ flag.subscription.product }}
          <br/>{{ flag.get_reason_display }} [{{ flag.datetime|date:"m/d/Y" }}]
      </a></td>
      <td><a href="/admin/membership/suscriptionflag/{{ flag.pk }}/delete"><i class="icon-trash"></i></a></td>
    </tr>
    {% empty %}
    <tr><td>No Flags, hurray!</td></tr>
    {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>
