<admin-dashboard>
  <h1>Sales Dashboard</h1>
  <ur-form initial={ initial } action="/dashboard/totals.json" ajax_success={ updatePlot } onload={ _onload }
           schema={ schema } ajax_target="#plot_container" onChange={ updateUI }></ur-form>
  <div id="plot_container" style="width:750px;height:400px;"></div>
  <a href="/dashboard/totals.csv{ qs }" target="_blank">Download CSV</a><br/>
  <a href="/dashboard/totals.table{ qs }">View as table</a><br/>

  var self = this;
  var y1_labels = {
    member_payments: "Monthly",
    new_members: "Signed Up",
  };
  var y2_labels = {
    member_payments: "Yearly",
    new_members: "Canceled",
    all_payments: "Yearly memberships",
  }
  this.schema = [
    { name: 'metric', type: 'select', required: false,
      choices: [
        ['line_total','Cart Total'],
        ['quantity','Quantity'],
        ['new_students','New Students (slow)'],
        ['classes_per_student','Classes Per Student'],
        ['new_members','New Members (slow)'],
        ['member_payments','Member Payments'],
        ['all_payments','All Payments']
      ]
    },
    { name: 'product_types', type: 'hidden', required: false,
      choices: [
        ["",'All Products'],
        ["214","Course Enrollments"],
        ["215","Giftcards"],
        ["121","Shop Consumables"],
        //["133","Meberships"],
      ]
    },
    { name: 'time_period', type: 'select', required: false,
      choices: [
        [90,'Three Months'],
        [180,'Six Months'],
        [365,'One Year'],
        [730,'Two Years'],
      ]
    },
    { name: 'resolution', type: 'select', required: false,
      choices: [
        [1, 'One Day'],
        [2, 'Two Day'],
        [7, 'Week'],
        [30, 'Thirty Days'],
        ['month', 'Month'],
      ]
    }
  ];
  this.initial = uR.getQueryDict();
  this.initial.time_period = this.initial.time_period || 90;
  this.initial.product_types = this.initial.product_types || 214;
  this.initial.metric = this.initial.metric || 'line_total';
  this.initial.resolution = this.initial.resolution || 1;
  _onload = function() {
    self.update();
    setTimeout(function() { self.root.querySelector("ur-form button").dispatchEvent(new Event("click"))},0);
  }
  updateUI(e,riot_tag) {
    if (document.querySelector(".ur-input.metric select").value == 'classes_per_student') {
      document.querySelector(".ur-input.resolution").style.display='none';
    } else {
      document.querySelector(".ur-input.resolution").style.display='block';
    }
  }
  updatePlot(data) {
    this.qs = "?";
    var form_data = self.tags["ur-form"].getData();
    for (key in form_data) { this.qs += key + "=" + encodeURIComponent(form_data[key]) + "&"; }
    window.history && window.history.replaceState({},"",window.location.pathname+this.qs);
    self.data = data;
    var PLOT_CONTAINER = document.getElementById('plot_container');
    Plotly.purge(PLOT_CONTAINER);
    var metric = document.querySelector("[name=metric]");
    var y1_label = y1_labels[metric.value] || metric.options[metric.selectedIndex].innerText;
    var y2_label = y2_labels[metric.value];

    var ymax = Math.max.apply(null,data.y.map(function(i) { return parseInt(i)}));
    var pow_10 = Math.pow(10,Math.floor(Math.log10(ymax)))
    ymax = Math.ceil(ymax/pow_10)*pow_10;
    var plot_data = [
      { x: data.x, y: data.y, name: y1_label }
    ];
    var plot_options = {
      margin: { l: 50, r: 20, b: 40, t: 20 },
      xaxis: { title: 'Date', },
      yaxis: { range: [0,ymax] },
    };
    if (data.y2 && data.y2.length) {
      plot_data.push({ x: data.x, y: data.y2, name: y2_label });
    }
    var other_options = { displayModeBar: false };
    if (metric.value == "classes_per_student") {
      plot_data = [{
        x: data.y,
        type: "histogram",
        xbins: { size: 1 },
        name: y2_label
      }];
      plot_options.yaxis = {};
    }
    Plotly.plot(PLOT_CONTAINER, plot_data, plot_options, other_options);
  }
</admin-dashboard>
