{% load i18n %}
{% load mptt_tags %}
{% load mptt_comments_tags %}

{% with comment_id=comment.pk|default:"preview" %}
<div class="{% include 'comments/_comment_class.html' %}" id="c{{ comment_id }}">
  
  <div class="comment_outer">
    <div class="comment_content">
      {% block comment_meta %}            
      {% include "comments/_comment_meta.html" %}
      {% endblock %}

      {% block comment_body %}
      {% if comment.is_removed %}
      {% trans "Comment removed" %}
      {% else %}
      {{ comment.comment|linebreaks }}
      {% endif %}
      {% endblock %}
      
      {% if debug %}
      {% include "comments/_comment_debug.html" %}
      {% endif %}

      {% block comment_footer %}
      {% include "comments/_comment_replies.html" %}
      {% endblock %}
    </div>
  </div>
  {% for child in comment.children.all %}
  {% include "comments/display_comment.html" with comment=child %}
  {% endfor %}
</div>
{% endwith %}
