{% load photo thumbnail %}<ol class="feed">
{% for f in feed %}
<li id="c{{f.id}}" class="course filterable"
    data-subject="{% for subject in f.course.subjects.all %}{{ subject }},{% endfor %}"
    {%if not f.course.closed%}data-open{%endif%}
    data-date="{{ f.starttime|date:"Ymd" }}">
{% comment %}  {% if f.src %}
  <div class="img"><img src="{{ f|thumbnail:"100x100" }}" /></div>
  {% endif %} {% endcomment %}
  <div class="details">
    <h1>{{ f }}</h1>
    <div class="byline">
      by {{ f.user }}
      {{ f.starttime|date:"M d, Y" }}
      <div class="subjects">{% for subject in f.course.subjects.all %}
	<a href="javascript:$('[name=subject]').val('{{subject}}').change();">
	  {{ subject }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
      </div>
    </div>
    <div class="description">
      {{ f.get_description|safe }}
    </div>
    <div class="fee">
      Course Fee: $<span class="item_price">{{ f.fee }}</span>
      {% if f.fee_notes %}
      <span class="notes">({{ f.fee_notes }})</span>
      {% endif %}
    </div>
    <a class="add" href="javascript:addItem('{{ f }}',{{ f.fee }},'c{{ f.id }}'); toggleCourses();">
      Enroll
    </a>
    <div class="drop">
      <a href="javascript:simpleCart.remove('c{{ f.id }}'); toggleCourses();">
        Drop Out
      </a>
      /
      <a href="javascript:showCart();">
        View Cart
      </a>
    </div>
  </div>
</li>
{% endfor %}
