{% load thumbnail crop_util %}
{% if thing.get_photos %}
<div class="slideshow">
  <div class="active_slide">
    {% for photo in thing.get_photos %}
    {% thumbnail photo|get_override:"landscape_crop" "750x500" crop="center" as im %}
    <div class="slide"{% if not forloop.first %} style="display:none;"{% endif %}>
      <img src="{{ im.url }}" width="750" height="500" />
      {% if show_bigger %}
      {% thumbnail photo.src "x1000" crop="noop" as bigger %}
      <a href="{{ bigger.url }}" class="full-screen" data-lightbox="slideshow">
        <i class="fa fa-search-plus"></i></a>
      {% endthumbnail %}
      {% endif %}
      {% if photo.external_url %}
      <a href="{{ photo.external_url }}" class="glyphicon external {{ photo.external_type }}"
         onclick="iframeExternal(this);return false"></a>
      {% endif %}
    </div>
    {% endthumbnail %}
    {% endfor %}
  </div>
  {% if thing.get_photos|length > 1 %}
  <div class="slide-nav">
    {% for photo in thing.get_photos %}
    {% thumbnail photo|get_override:"square_crop" "150x150" crop="center" as im %}
    <a href="javascript:;" onclick="$(this).closest('.slideshow').find('.slide').hide().eq({{ forloop.counter0 }}).show();">
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
      {% if photo.external_url %}
      <div class="glyphicon external {{ photo.external_type }}"></div></a>
      {% endif %}
    </a>
    {% endthumbnail %}
    {% endfor %}
  </div>
  {% endif %}
</div>
<script>
function iframeExternal(that) {
  url = that.href;
  if ($(that).hasClass("gfycat")) {
    var url = "/gfycat/?url="+escape(that.href);
  }
  var iframe = $('<iframe src="'+url+'" frameborder="0" scrolling="no">')
  $(that).closest('.slide').append(iframe);
}
</script>
{% endif %}
