{% load i18n %}{% autoescape off %}

Thank you for registering for classes at TX/RX Labs. {% if new_user %}An account was created for you at txrxlabs.org using this email address. You should receive an email along side this one with instructions on how to set your password.{% endif %}

You have been added to the following class{{ enrollments|pluralize:"es" }}. If you have any further questions please email classes@txrxlabs.org

-------
{% for enrollment in enrollments %}
{{ enrollment.session.name }}
with {{ enrollment.session.user }}
on {{ enrollment.session.get_short_dates }}
{% endfor %}

If you can't make a class please contact classes@txrxlabs.org to cancel. Cancellations and rescheduling requests must be made at least one week prior to the class for a full refund. Cancellations submitted less than one week before the class will only be refunded if we can fill your slot.
{% endautoescape %}
