{% load i18n %}{% load url from future %}{% autoescape off %}

This is a reminder that you have a class today at TX/RX Labs. The class starts today ({{ class_time.start|date:"F d" }}) at {{ class_time.start|date:"h:i a" }}.

We started sending these notifications because quite a few people forget that they have signed up for a class. If you would like to not receive these notifications, please use one of the links below.

Unsubscribe from class reminders: {{ SITE_URL }}{% url "unsubscribe" "classes" user.id %}?LA_KEY={{ la_key.key }}

Unsubscribe from all notifications: {{ SITE_URL }}{% url "unsubscribe" "global" user.id %}?LA_KEY={{ la_key.key }}

{% endautoescape %}
