{% load i18n %}{% autoescape off %}

We're writting to let you know about all the new classes at TX/RX. Here are all the classes added in the past two weeks:

{% for session in new_sessions %}
{{ session.name }}
with {{ session.user }}
on {{ session.get_short_dates }}
{% endfor %}

For more information or to checkout all classes visit http://classes.txrxlabs.org/

If you do not want to receive this email, click on one of the links below:

Unsubscribe from this email: {{ SITE_URL }}{% url "unsubscribe" "sessions" user.id %}?LA_KEY={{ la_key.key }}

Unsubscribe from all notifications: {{ SITE_URL }}{% url "unsubscribe" "global" user.id %}?LA_KEY={{ la_key.key }}

{% endautoescape %}
