{% load txrx_tags %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
{% for field in form.hidden_fields %}{{ field }}{% endfor %}
{% for field in form.visible_fields %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
  {% if not field.field.widget.attrs.placeholder %}{{ field.label_tag }}{% endif %}
  {{ field }}
  {% for error in field.errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  <div class="help-block">
    {% if field.help_text %}
    {{ field.help_text|safe|linebreaksbr }}
    {% endif %}
  </div>
</div>
{% endfor %}
{{ form.media }}
