<section>
  <h3 class="block_title">Stay connected!</h3>
  <p>Sign up for our monthly newsletter for updates on events, workshops, studio tips + tricks, member spotlights and more.</p>
  <a class="btn btn-block btn-primary" href="http://eepurl.com/uhcT1">Sign Me Up!</a>
</section>

<section>
  <h3 class="block_title">About {{ settings.SITE_NAME }}</h3>
  <p>
    Established in 2008, {{ settings.SITE_NAME }} is a non-profit hackerspace for the greater Houston area.
    Housed in the East End District, we offer courses in and access to our rapid prototyping lab,
    woodshop, machineshop, electronics lab, and a wide variety of other tools. Our goal is to
    educate the public about technology and show how seemingly complex techniques can be used
    by anyone. If you like what we do, please donate.
  </p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="margin:0;">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="txrxlabs@gmail.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="{{ settings.SITE_NAME }}">
    <input type="hidden" name="item_number" value="side-button">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
    <center>
      <input type="image" src="{{ STATIC_URL }}img/paypal-donate-button.png" border="0" height="30"
             name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </center>
  </form>
</section>

<section class="events_box">
  <h3 class="block_title">This Week at {{ settings.SITE_NAME }}</h3>
  <ul class="list-unstyled">
    {% for event in upcoming_events %}
    <li>
      {{ event.start|date:"m/d" }} -
      <a href="{{ event.get_absolute_url }}">{{ event.name }}</a>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url "event:index" %}">View all events</a>
</section>

{% if last_week %}
<h2>Past events</h2>
<div class="well">
  <ul class="unstyled">
    {% for event in last_week %}
    <li>
      {{ event.start|date:"m/d" }} -
      <a href="{{ event.get_absolute_url }}">
        {{ event.name }}
        ({{ event.get_photoset.get_photos|length }} photos)
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
