{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wmd/wmd.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}less/blog.css">
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/bootstrap/less/bootstrap.less">
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/base.less">
{% endcompress %}

<style type="text/css">
html, iframe, frame {
  -webkit-filter: invert(.95) hue-rotate(180deg) !important;
  filter: invert(100%) hue-rotate(180deg) !important
}
img,embed[flashvars],*[type*="application/x-shockwave-flash"],*[type*="application/x-silverlight"],[type=image] {
  -webkit-filter: invert(.95) hue-rotate(180deg) !important;
  filter: invert(1) hue-rotate(180deg) !important
}
</style>
