{% extends "base.html" %}

{% block main %}
<h1>{{ phototag }}</h1>
<div class="row">
  {% for photo in paginator.current_list %}
  <div class="col-lg-2 col-md-3 col-sm-4">
    {% if phototag in photo.tags.all %}
    {% include "photo/_photo_checkbox.html" with checked=1 %}
    {% else %}
    {% include "photo/_photo_checkbox.html" %}
    {% endif %}
  </div>
  {% endfor %}
</div>
{% include "_paginator.html" %}
<script>
  function tagPhoto() {
    var label = document.querySelector("[for="+this.id+"]");
    label.classList.add("loading");
    $.post(
      '.',
      {photo_pk: this.value,checked:this.checked},
      function(data) { console.log(label);label.classList.remove("loading"); }
    )
  }
  $(".hidden_checkbox").change(tagPhoto);
</script>
{% endblock %}
