{% load compress %}
<div id="content-main">
  {% csrf_token %}
  <div>
    <div class="well">
      <h3>Search Photos</h3>
      <photo-search></photo-search>
    </div>
    <h3>Add/Edit Photos</h3>
    <photo-list></photo-list>
  </div>
</div>

{% compress css %}
<link href="{{ STATIC_URL }}less/multi_photo_upload.less" rel="stylesheet" type="text/less">
{% endcompress %}
<script src="https://cdn.jsdelivr.net/g/riot@2.0.14(riot.min.js+compiler.min.js)"></script>
<script src="{{ STATIC_URL }}tags/photo-list.tag" type="riot/tag"></script>
<script>
  window._PHOTOS = {
    photos: {{ photos|safe }},
    content_type: "{{ content_type }}",
    object_id: {{ obj.id }}
  }
</script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
{% compress js %}
<script src="{{ STATIC_URL }}js/multi_photo_upload.js"></script>
{% endcompress %}
