{% load thumbnail %}
{% include "_styles.html" %}
<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<style type="text/css">
.photo-list { margin: 0 auto; width: 480px; height: 240px; }
.photo-list a:hover { background: #afa; }
.col-xs-3 { padding: 5px; }
</style>
<form method="GET" class="form-inline">
  <span class="input-append">
    {{ form.search }}
    <input type="submit" class="btn" value="Search" />
  </span>
  <label class="checkbox inline" style="float: right;">
    {{ form.mine }} Only show my images
  </label>
  {# any change to the form should reset to page 1 #}
  <input type="hidden" name="page" id="id_page" value="1" />
</form>
{% if paginator.current_list %}
<div class="photo-list">
  <div class="row">
    {% for photo in paginator.current_list %}
    {% thumbnail photo.file "120x120" crop="center" as im %}
    <div class="col-xs-3">
      <a href="javascript:;" title="{{ photo }}"
         onclick="window.parent.iframe_callback({'id':{{ photo.id }},'shortcode':'{{ photo.shortcode }}'});">
        <img src="{{ im.url }}" />
      </a>
    </div>
    {% endthumbnail %}
    {% endfor %}
  </div>
</div>
{% else %}
<p>
  No matching photos found. Change search options above or click button below to add a photo.
</p>
{% endif %}
<div style="clear: both;"></div>
{% include "_paginator.html" with showpages=3%}
<script type="text/javascript">
$("#id_mine").change(function(){$("form").submit()});
$("#id_search").focus();
function goToPage(number) {
  $("#id_page").val(number);
  $("form").submit();
}
</script>
